<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}">

<main class="login-form">
	<!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a>
                        <span>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Login</h2>
                        <form th:action="@{/security/login/form}" method="post">
                            <div class="group-input">
                                <label>Username or email address *</label>
                                <input type="text" name="username" pattern="[a-z,A-Z,0-9]{3,25}" title="Username Invalid">
                            </div>
                            <div class="group-input">
                                <label>Password *</label>
                                <input type="password" name="password">
                            </div>
                            <div class="group-input gi-check">
                                <div class="gi-more">
                                    <label for="save-pass" class="pl-0">
                                        Login with:
                                        <a href="/oauth2/authorization/google" class="text-dark px-1">Google</a> 
										<a href="/oauth2/authorization/facebook" class="text-dark">Facebook</a>
                                    </label>
                                    <a th:href="@{/home/forgot-password}"class="forget-pass">Forgot your Password</a>
                                </div>
                            </div>
                            <button type="submit" class="site-btn login-btn">Sign In</button>
                        </form>
                        <div class="switch-login">
                            <a th:href="@{/accounts/newaccount}" class="or-login">Or Create An Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->

</main>