<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main th:object="${item}">
		<!-- Breadcrumb Section Begin -->
		<div class="breacrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text product-more">
							<a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a> <a
								th:href="@{/product/list}">Shop</a> <span>Product Detail</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Section Begin -->

		<!-- Product Shop Section Begin -->
		<section class="product-shop spad page-details">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="filter-widget">
							<h4 class="fw-title">Categories</h4>
							<ul class="filter-catagories" th:each="c:${cates}">
								<li><a th:href="@{|/product/list?cid=${c.id}|}">[[${c.name}]]</a></li>
							</ul>
						</div>


						<div class="filter-widget" style="padding-bottom: 90px;">
							<h4 class="fw-title">Brand</h4>
							<div class="fw-tags" th:each="b:${brands}">
								<a th:href="@{|/product/list?brand=${b.id}|}"
									class="float-left ">[[${b.name}]]</a>
							</div>
						</div>

						<div class="filter-widget">
							<h4 class="fw-title">Price</h4>
							<form action="/product/list" method="post">
								<div class="filter-range-wrap">
									<div class="range-slider">
										<div class="price-input">
											<!-- 											<input type="text" name="cid" placeholder="${cid}">[[${cid}]] -->
											<input type="text" id="minamount" name="min"> <input
												type="text" id="maxamount" name="max">
										</div>
									</div>
									<div
										class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
										data-min="0" data-max="200">
										<div class="ui-slider-range ui-corner-all ui-widget-header"></div>
										<span tabindex="0"
											class="ui-slider-handle ui-corner-all ui-state-default"></span>
										<span tabindex="0"
											class="ui-slider-handle ui-corner-all ui-state-default"></span>
									</div>
								</div>
								<button class="filter-btn" style="border: none">Filter</button>
							</form>
						</div>

						<div class="filter-widget">
							<h4 class="fw-title">Color</h4>
							<div class="fw-color-choose">
								<div class="cs-item" th:each="c:${colors}">
									<a th:href="@{|/product/listcolor?color=${c.id}|}"> <label
										class="cs-yellow" th:if="${c.id == 1}" for="cs-yellow">[[${c.name}]]</label>
										<label class="cs-gray" th:if="${c.id == 2}" for="cs-gray">[[${c.name}]]</label>
										<label class="cs-green" th:if="${c.id == 3}" for="cs-green">[[${c.name}]]</label>
										<label class="cs-white" th:if="${c.id == 4}" for="cs-white">[[${c.name}]]</label>
										<label class="cs-black" th:if="${c.id == 5}" for="cs-black">[[${c.name}]]</label>
										<label class="cs-blue" th:if="${c.id == 6}" for="cs-blue">[[${c.name}]]</label>
										<label class="cs-brown" th:if="${c.id == 7}" for="cs-brown">[[${c.name}]]</label>
										<label class="cs-orange" th:if="${c.id == 8}" for="cs-orange">[[${c.name}]]</label>
										<label class="cs-pink" th:if="${c.id == 9}" for="cs-pink">[[${c.name}]]</label>
										<label class="cs-red" th:if="${c.id == 10}" for="cs-red">[[${c.name}]]</label>
									</a>
								</div>
							</div>
						</div>

						<div class="filter-widget" style="padding-top: 200px;">
							<h4 class="fw-title">Size</h4>
							<div class="fw-size-choose">
								<div class="sc-item" th:each="s:${sizes}">
									<a th:href="@{|/product/listsize?sizepro=${s.id}|}"><label
										for="s-size">[[${s.name}]]</label></a>
								</div>
							</div>
						</div>
					</div>



					<div class="col-lg-9">
						<div class="row">
							<div class="col-lg-6">
								<div class="product-pic-zoom">
									<img class="product-big-img"
										th:src="@{|/site/img/products/*{image}|}" alt="">
									<div class="zoom-icon">
										<i class="fa fa-search-plus"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="product-details">
									<div class="pd-title">
										<span th:text="*{brand.name}"></span>
										<h3 th:text="*{name}"></h3>
										<a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
									</div>
									<div class="pd-rating">
										<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star-o"></i> <span>(5)</span>
									</div>
									<div class="pd-desc">
										<p>[[*{description}]]</p>
										<h4>
											$
											<o>[[*{price*(1-discount*0.01)}]]</o>
											<span th:text="*{price}"></span>
										</h4>
									</div>

									<div class="pd-size-choose">
										<div class="sc-item" th:each="sizePro:${sizeProlist}">
											<a
												th:href="@{|/product/detail/${productID}?sizepro=${sizePro.id}|}">
												<label for="s-size" th:if="${sizepro == sizePro.id}"
												style="background-color: black;" class="text-light">[[${sizePro.name}]]</label>
												<label for="s-size" th:if="${sizepro != sizePro.id}">[[${sizePro.name}]]</label>
											</a>
										</div>

										<!-- <div class="sc-item" th:if="${sizepro} != null"
											th:object="${sizename}">
											<a
												th:href="@{|/product/detail/${productID}?sizepro=${sizepro}|}"><label
												for="s-size">[[*{name}]]</label></a>
										</div> -->
									</div>

									<div class="pd-color">
										<h6>Color</h6>
										<div class="pd-color-choose"
											th:each="colorPro:${colorProlist}">
											<div class="cc-item">
												<label for="cc-violet" th:if="${colorPro.id == 1}"
													class="cc-yellow"></label> <label for="cc-violet"
													th:if="${colorPro.id == 2}" class="cc-gray"></label> <label
													for="cc-violet" th:if="${colorPro.id == 3}"
													class="cc-green"></label> <label for="cc-violet"
													th:if="${colorPro.id == 4}" class="cc-white"></label> <label
													for="cc-violet" th:if="${colorPro.id == 5}"
													class="cc-black"></label> <label for="cc-violet"
													th:if="${colorPro.id == 6}" class="cc-blue"></label> <label
													for="cc-violet" th:if="${colorPro.id == 7}"
													class="cc-brown"></label> <label for="cc-violet"
													th:if="${colorPro.id == 8}" class="cc-orange"></label> <label
													for="cc-violet" th:if="${colorPro.id == 9}" class="cc-pink"></label>
												<label for="cc-violet" th:if="${colorPro.id == 10}"
													class="cc-red"></label>
											</div>
										</div>
									</div>


									<div class="quantity">
										<a class="primary-btn pd-cart text-light" data-toggle="modal"
											data-target="#exampleModalCenter1">Choose Color</a>
									</div>

									<!-- Modal -->
									<div class="modal fade" id="exampleModalCenter1" tabindex="-1"
										role="dialog" aria-labelledby="exampleModalCenterTitle"
										aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											style="max-width: 60%;" role="document">
											<div class="modal-content">
												<div class="modal-header bg-warning">
													<h4 class="modal-title  text-light"
														id="exampleModalLongTitle">Choose Color</h4>
													<button type="button" class="close text-light"
														data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<div class="product-slider owl-carousel">
														<div class="product-item" th:each="p:${prodetail}">
															<div class="pi-pic">
																<a> <img th:src="@{|/site/img/products/${p.image}|}"
																	alt="">
																</a>
																<div class="sale pp-sale">Size: [[${p.size.name}]]</div>

																<div class="icon">
																	<div class="pd-color">
																		<div class="pd-color-choose">
																			<div class="cc-item">
																				<label for="cc-violet" th:if="${p.color.id == 1}"
																					class="cc-yellow"></label> <label for="cc-violet"
																					th:if="${p.color.id == 2}" class="cc-gray"></label>
																				<label for="cc-violet" th:if="${p.color.id == 3}"
																					class="cc-green"></label> <label for="cc-violet"
																					th:if="${p.color.id == 4}" class="cc-white"></label>
																				<label for="cc-violet" th:if="${p.color.id == 5}"
																					class="cc-black"></label> <label for="cc-violet"
																					th:if="${p.color.id == 6}" class="cc-blue"></label>
																				<label for="cc-violet" th:if="${p.color.id == 7}"
																					class="cc-brown"></label> <label for="cc-violet"
																					th:if="${p.color.id == 8}" class="cc-orange"></label>
																				<label for="cc-violet" th:if="${p.color.id == 9}"
																					class="cc-pink"></label> <label for="cc-violet"
																					th:if="${p.color.id == 10}" class="cc-red"></label>
																			</div>
																		</div>
																	</div>
																</div>
																<ul>
																	<li class="quick-view col m-0 p-0"><a
																		th:attr="ng-click=@{|cart.add(${p.id})|}"
																		class="btn-warning text-light">+ ADD TO CARD</a></li>
																</ul>
															</div>
															<div class="pi-text">
																<div class="catagory-name">
																	<h4>[[${p.product.name}]]</h4>
																</div>

																<div class="catagory-name">Size:
																	[[${p.size.name}]]</div>

																<div class="catagory-name">Color:
																	[[${p.color.name}]]</div>

																<div class="product-price">
																	$[[${p.product.price*(1-p.product.discount*0.01)}]]<span>$[[${p.product.price}]]</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>


									<ul class="pd-tags">
										<li><span>CATEGORIES</span>: <o
												th:text="*{category.name}"></o></li>
									</ul>
									<div class="pd-share">
										<div class="p-code">
											Sku :
											<o th:text="*{id}"></o>
										</div>

										<div class="pd-social">
											<a href="#"><i class="ti-facebook"></i></a> <a href="#"><i
												class="ti-twitter-alt"></i></a> <a href="#"><i
												class="ti-linkedin"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-tab">
							<div class="tab-item">
								<ul class="nav" role="tablist">
									<li><a class="active" data-toggle="tab" href="#tab-1"
										role="tab">DESCRIPTION</a></li>
									<li><a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a></li>
									<li><a data-toggle="tab" href="#tab-3" role="tab">Customer
											Reviews (02)</a></li>
								</ul>
							</div>
							<div class="tab-item-content">
								<div class="tab-content">
									<div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
										<div class="product-content">
											<div class="row">
												<div class="col-lg-7">
													<h5>Introduction</h5>
													<p>[[*{description}]]</p>
												</div>
												<div class="col-lg-5">
													<img src="/site/img/product-single/tab-desc.jpg" alt="">
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="tab-2" role="tabpanel">
										<div class="specification-table">
											<table>
												<tr>
													<td class="p-catagory">Customer Rating</td>
													<td>
														<div class="pd-rating">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star-o"></i> <span>(5)</span>
														</div>
													</td>
												</tr>
												<tr>
													<td class="p-catagory">Price</td>
													<td>
														<div class="p-price">
															$[[*{price*(1-discount*0.01)}]]</div>
													</td>
												</tr>
												<tr>
													<td class="p-catagory">Availability</td>
													<td>
														<div class="p-stock">22 in stock</div>
													</td>
												</tr>
												<tr>
													<td class="p-catagory">Size</td>
													<td>
														<div class="p-size">
															<span th:each="sizePro:${sizeProlist}" class="px-1">[[${sizePro.name}]]</span>
														</div>
													</td>
												</tr>
												<tr>
													<td class="p-catagory">Color</td>
													<td><span th:each="colorPro:${colorProlist}"
														class="px-1"> <span class="cs-color-yellow"
															th:if="${colorPro.id == 1}"></span> <span
															class="cs-color-gray" th:if="${colorPro.id == 2}"></span>
															<span class="cs-color-green" th:if="${colorPro.id == 3}"></span>
															<span class="cs-color-white" th:if="${colorPro.id == 4}"></span>
															<span class="cs-color-black" th:if="${colorPro.id == 5}"></span>
															<span class="cs-color-blue" th:if="${colorPro.id == 6}"></span>
															<span class="cs-color-brown" th:if="${colorPro.id == 7}"></span>
															<span class="cs-color-orange" th:if="${colorPro.id == 8}"></span>
															<span class="cs-color-pink" th:if="${colorPro.id == 9}"></span>
															<span class="cs-color-red" th:if="${colorPro.id == 10}"></span>
													</span></td>
												</tr>
												<tr>
													<td class="p-catagory">Sku</td>
													<td>
														<div class="p-code">[[*{id}]]</div>
													</td>
												</tr>
											</table>
										</div>
									</div>
									<div class="tab-pane fade" id="tab-3" role="tabpanel">
										<div class="customer-review-option">
											<h4>2 Comments</h4>
											<div class="comment-option">
												<div class="co-item">
													<div class="avatar-pic">
														<img src="/site/img/product-single/avatar-1.png" alt="">
													</div>
													<div class="avatar-text">
														<div class="at-rating">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star-o"></i>
														</div>
														<h5>
															Brandon Kelley <span>27 Aug 2019</span>
														</h5>
														<div class="at-reply">Nice !</div>
													</div>
												</div>
												<div class="co-item">
													<div class="avatar-pic">
														<img src="/site/img/product-single/avatar-2.png" alt="">
													</div>
													<div class="avatar-text">
														<div class="at-rating">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star-o"></i>
														</div>
														<h5>
															Roy Banks <span>27 Aug 2019</span>
														</h5>
														<div class="at-reply">Nice !</div>
													</div>
												</div>
											</div>
											<div class="personal-rating">
												<h6>Your Ratind</h6>
												<div class="rating">
													<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
														class="fa fa-star"></i> <i class="fa fa-star"></i> <i
														class="fa fa-star-o"></i>
												</div>
											</div>
											<div class="leave-comment">
												<h4>Leave A Comment</h4>
												<form action="#" class="comment-form">
													<div class="row">
														<div class="col-lg-6">
															<input type="text" placeholder="Name">
														</div>
														<div class="col-lg-6">
															<input type="text" placeholder="Email">
														</div>
														<div class="col-lg-12">
															<textarea placeholder="Messages"></textarea>
															<button type="submit" class="site-btn">Send
																message</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Product Shop Section End -->

		<!-- Related Products Section End -->
		<div class="related-products spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Related Products</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="product-slider owl-carousel">
							<div class="product-item" th:each="p:*{category.products}">
								<div class="pi-pic">
									<a th:href="@{|/product/detail/${p.id}|}"> <img
										th:src="@{|/site/img/products/${p.image}|}" alt="">
									</a>
									<div class="sale">Sale: [[${p.discount}]]%</div>
									<div class="icon">
										<i class="icon_heart_alt"></i>
									</div>
									<ul>
										<li class="w-icon active"><a
											th:attr="ng-click=@{|cart.add(${p.id})|}"><i
												class="icon_cart_alt"></i></a></li>
										<li class="quick-view"><a
											th:href="@{|/product/detail/${p.id}|}">+ Quick View</a></li>
										<li class="w-icon"><a href="#"><i
												class="fa fa-random"></i></a></li>
									</ul>
								</div>
								<div class="pi-text">
									<div class="catagory-name">[[${p.category.name}]]</div>
									<a href="#">
										<h5 th:utext="${p.name}"></h5>
									</a>
									<div class="product-price">
										$[[${p.price*(1-p.discount*0.01)}]]<span>$[[${p.price}]]</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Related Products Section End -->

		<!-- Partner Logo Section Begin -->
		<div class="partner-logo">
			<div class="container">
				<div class="logo-carousel owl-carousel">
					<div class="logo-item">
						<div class="tablecell-inner">
							<img src="/site/img/logo-carousel/logo-1.png" alt="">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img src="/site/img/logo-carousel/logo-2.png" alt="">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img src="/site/img/logo-carousel/logo-3.png" alt="">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img src="/site/img/logo-carousel/logo-4.png" alt="">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img src="/site/img/logo-carousel/logo-5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Partner Logo Section End -->
	</main>
</body>
</html>