<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main th:object="${item}">
		<!-- Breadcrumb Section Begin -->
		<div class="breacrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text product-more">
							<a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a> <a
								th:href="@{/product/listall}">Shop</a> <span>Product
								Detail</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Section Begin -->

		<!-- Product Shop Section Begin -->
		<section class="product-shop spad page-details">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="filter-widget">
							<h4 class="fw-title">Categories</h4>
							<ul class="filter-catagories" th:each="c:${cates}">
								<li><a th:href="@{|/product/list?cid=${c.id}|}">[[${c.name}]]</a></li>
							</ul>
						</div>


						<div class="filter-widget" style="padding-bottom: 90px;">
							<h4 class="fw-title">Brand</h4>
							<div class="fw-tags" th:each="b:${brands}">
								<a th:href="@{|/product/list?brand=${b.id}|}"
									class="float-left ">[[${b.name}]]</a>
							</div>
						</div>

						<div class="filter-widget">
							<h4 class="fw-title">Price</h4>
							<form action="/product/list" method="post">
								<div class="filter-range-wrap">
									<div class="range-slider">
										<div class="price-input">
											<!-- 											<input type="text" name="cid" placeholder="${cid}">[[${cid}]] -->
											<input type="text" id="minamount" name="min"> <input
												type="text" id="maxamount" name="max">
										</div>
									</div>
									<div
										class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
										data-min="0" data-max="200">
										<div class="ui-slider-range ui-corner-all ui-widget-header"></div>
										<span tabindex="0"
											class="ui-slider-handle ui-corner-all ui-state-default"></span>
										<span tabindex="0"
											class="ui-slider-handle ui-corner-all ui-state-default"></span>
									</div>
								</div>
								<button class="filter-btn" style="border: none">Filter</button>
							</form>
						</div>

						<div class="filter-widget">
							<h4 class="fw-title">Color</h4>
							<div class="fw-color-choose">
								<div class="cs-item" ng-repeat="coloritem in items">
									<a th:href="@{|/product/listcolor?color={{coloritem.id}}|}">
										<label class="m-2" style="--color: rgb({{coloritem.red}}, {{coloritem.green}}, {{coloritem.blue}})">{{coloritem.name}}</label>
									</a>
								</div>
							</div>
						</div>

						<div class="filter-widget" style="padding-top: 240px;">
							<h4 class="fw-title float-left">Size for Clothings</h4>
							<div class="fw-size-choose row col">
								<div class="sc-item" th:each="s:${sizesforclothings}">
									<a th:href="@{|/product/listsize?sizepro=${s.id}|}"><label
										for="s-size">[[${s.name}]]</label></a>
								</div>
							</div>
						</div>

						<div class="filter-widget">
							<h4 class="fw-title float-left">Size for Shoes</h4>
							<div class="fw-size-choose row col">
								<div class="sc-item" th:each="s:${sizesforshoes}">
									<a th:href="@{|/product/listsize?sizepro=${s.id}|}"><label
										for="s-size">[[${s.name}]]</label></a>
								</div>
							</div>
						</div>
					</div>



					<div class="col-lg-9">
						<div class="row">
							<div class="col-lg-6">
								<div class="product-pic-zoom">
									<img class="product-big-img"
										th:src="@{|/assets/images/*{image}|}" alt="">
									<div class="zoom-icon text-light p-2"
										style="background: #e7ab3c; font-weight: bolder; border-radius: 5%"
										th:if="*{discount != 0}">Sale: [[*{discount}]]%</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="product-details">
									<div class="pd-title">
										<span th:text="*{brand.name}"></span>
										<h3 th:text="*{name}"></h3>
									</div>
									<div class="pd-rating">
										<div th:if="0.0<=${ratePro} and ${ratePro} < 1.5">
											<i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
												class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
												class="fa fa-star-o"></i> <span>(1)</span>
										</div>

										<div th:if="1.5<=${ratePro} and ${ratePro} < 2.5">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
												class="fa fa-star-o"></i> <span>(2)</span>
										</div>

										<div th:if="2.5<=${ratePro} and ${ratePro} < 3.5">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
												class="fa fa-star-o"></i> <span>(3)</span>
										</div>

										<div th:if="3.5<=${ratePro} and ${ratePro} < 4.5">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star-o"></i> <span>(4)</span>
										</div>

										<div th:if="4.5<=${ratePro} and ${ratePro} <= 5.0">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i> <span>(5)</span>
										</div>

									</div>
									<div class="pd-desc">
										<p>Product for [[*{gender.name}]]</p>
										<h4>
											<o>$[[*{#numbers.formatDecimal(price*(1-discount*0.01),
											0, 'COMMA', 1, 'POINT')}]]</o>
											<span th:if="*{discount != 0.0}"> $[[*{price}]]</span>
										</h4>
									</div>

									<div class="pd-size-choose">
										<div class="sc-item" th:each="sizePro:${sizeProlist}">
											<a
												th:href="@{|/product/detail/${productID}?sizepro=${sizePro.id}|}">
												<label for="s-size" th:if="${sizepro == sizePro.id}"
												style="background-color: black;" class="text-light">[[${sizePro.name}]]</label>
												<label for="s-size" th:if="${sizepro != sizePro.id}">[[${sizePro.name}]]</label>
											</a>
										</div>

										<!-- <div class="sc-item" th:if="${sizepro} != null"
											th:object="${sizename}">
											<a
												th:href="@{|/product/detail/${productID}?sizepro=${sizepro}|}"><label
												for="s-size">[[*{name}]]</label></a>
										</div> -->
									</div>

									<div class="pd-color">
										<h6>Color</h6>
										<div class="pd-color-choose"
											th:each="colorPro:${colorProlist}">
											<div class="cc-item">
												<label for="cc-violet"
													th:style="'--color:' + 'rgb(' + @{${colorPro.red}} + ',' + @{${colorPro.green}} + ',' + @{${colorPro.blue}} + ')'"></label>

											</div>
										</div>
									</div>


									<div class="quantity">
										<a class="primary-btn pd-cart text-light" data-toggle="modal"
											data-target="#exampleModalCenter1">Choose Color</a>
									</div>

									<!-- Modal -->
									<div class="modal fade" id="exampleModalCenter1" tabindex="-1"
										role="dialog" aria-labelledby="exampleModalCenterTitle"
										aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											style="max-width: 60%;" role="document">
											<div class="modal-content">
												<div class="modal-header bg-warning">
													<button type="button" class="close text-light"
														data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<div class="product-slider owl-carousel">
														<div class="product-item" th:each="p:${prodetail}">
															<div class="pi-pic" style="width: 349px; height: 427px">
																<a> <img th:src="@{|/assets/images/${p.image}|}"
																	width=349px; height=427px alt="">
																</a>
																<div class="sale pp-sale">Size: [[${p.size.name}]]</div>

																<div class="icon">
																	<div class="pd-color">
																		<div class="pd-color-choose">
																			<div class="cc-item">
																				<label for="cc-violet"
																					th:style="'--color:' + 'rgb(' + @{${p.color.red}} + ',' + @{${p.color.green}} + ',' + @{${p.color.blue}} + ')'"
																					class="cc-yellow"></label>
																			</div>
																		</div>
																	</div>
																</div>
																<ul>
																	<li class="quick-view col m-0 p-0"><a
																		th:attr="ng-click=@{|cart.add(${p.id})|}"
																		class="btn-warning text-light">+ ADD TO CARD</a></li>
																</ul>
															</div>
															<div class="pi-text">
																<div class="catagory-name">
																	<h4>[[${p.product.name}]]</h4>
																</div>

																<div class="catagory-name">Size:
																	[[${p.size.name}]]</div>

																<div class="catagory-name">Color:
																	[[${p.color.name}]]</div>
																<div class="catagory-name">Quantity:
																	[[${p.quantity}]]</div>
																<div class="product-price">
																	$[[${#numbers.formatDecimal(p.product.price*(1-p.product.discount*0.01),
																	0, 'COMMA', 1, 'POINT')}]]<span
																		th:if="${p.product.discount != 0.0}">$[[${p.product.price}]]</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>





									<ul class="pd-tags">
										<li><span>CATEGORIES</span>: <o
												th:text="*{category.name}"></o></li>
									</ul>
									<div class="pd-share">
										<div class="p-code">
											Sku :
											<o th:text="*{id}"></o>
										</div>

										<div class="pd-social">
											<a
												href="https://www.facebook.com/profile.php?id=100001628739372"><i
												class="ti-facebook"></i></a> <a
												href="https://www.facebook.com/loser226"><i
												class="ti-twitter-alt"></i></a> <a
												href="https://www.facebook.com/DH.0.1.2.7"><i
												class="ti-linkedin"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-tab">
							<div class="tab-item px-0">
								<ul class="nav pl-4" role="tablist">
									<li><a class="active" data-toggle="tab" href="#tab-1"
										role="tab">DESCRIPTION</a></li>
									<li><a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a></li>
									<li><a data-toggle="tab" href="#tab-3" role="tab">Customer
											Reviews</a></li>
								</ul>
							</div>
							<div class="tab-item-content">
								<div class="tab-content">
									<div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
										<div class="product-content">
											<div class="row">
												<div class="col-lg-7">
													<h5>Introduction</h5>
													<p>[[*{description}]]</p>
												</div>
												<div class="col-lg-5">
													<img src="/site/img/product-single/tab-desc.jpg" alt="">
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="tab-2" role="tabpanel">
										<div class="specification-table">
											<table>
												<tr>
													<td class="p-catagory">Customer Rating</td>
													<td>
														<div class="pd-rating">
															<div th:if="0.0<=${ratePro} and ${ratePro} < 1.5">
																<i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
																	class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
																	class="fa fa-star-o"></i> <span>(1)</span>
															</div>
					
															<div th:if="1.5<=${ratePro} and ${ratePro} < 2.5">
																<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
																	class="fa fa-star-o"></i> <span>(2)</span>
															</div>
					
															<div th:if="2.5<=${ratePro} and ${ratePro} < 3.5">
																<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
																	class="fa fa-star-o"></i> <span>(3)</span>
															</div>
					
															<div th:if="3.5 <= ${ratePro} and ${ratePro} < 4.5">
																<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star-o"></i> <span>(4)</span>
															</div>
					
															<div th:if="4.5<=${ratePro} and ${ratePro} <= 5.0">
																<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star"></i> <span>(5)</span>
															</div>

														</div>
													</td>
												</tr>
												<tr th:if="*{discount} !=0">
													<td class="p-catagory">Sale off</td>
													<td>
														<div class="p-price text-danger">[[*{discount}]]%</div>
													</td>
												</tr>
												<tr>
													<td class="p-catagory">Price</td>
													<td>
														<div class="p-price">
															$[[*{#numbers.formatDecimal(price*(1-discount*0.01), 0,
															'COMMA', 1, 'POINT')}]]&nbsp;
															<del style="color: lightgray; font-size: 13px;"
																th:if="*{discount != 0.0}">$[[*{price}]]</del>
														</div>
													</td>
												</tr>
												<tr>
													<td class="p-catagory">Size</td>
													<td>
														<div class="p-size">
															<span class="px-1">[[${sizeofPro.name}]]</span>
														</div>
													</td>
												</tr>
												<tr>
													<td class="p-catagory">Size Description</td>
													<td>
														<div class="p-stock">[[${sizeofPro.description}]]</div>
													</td>
												</tr>
												<tr>
													<td class="p-catagory">Color</td>
													<td><span th:each="colorPro:${colorProlist}"
														class="px-1"> <span class="cs-color-yellow"
															th:style="'--color:' + 'rgb(' + @{${colorPro.red}} + ',' + @{${colorPro.green}} + ',' + @{${colorPro.blue}} + ')'"></span>

													</span></td>
												</tr>
												<tr>
													<td class="p-catagory">Sku</td>
													<td>
														<div class="p-code">[[*{id}]]</div>
													</td>
												</tr>
											</table>
										</div>
									</div>
									<div class="tab-pane fade" id="tab-3" role="tabpanel">
										<div class="customer-review-option">
											<th:block th:unless="${#request.remoteUser}">
												<div class="switch-login pb-4">
													<a th:href="@{/security/login/form}" data-toggle="modal"
														data-target="#loginModalCenter"
														class="or-login btn text-light col px-5"
														style="background-color: #e7ab3c;"> Please login to
														comment </a>
												</div>
											</th:block>

											<div class="comment-option">
												<div class="product-show-option">
													<div class="row">
														<div class="offset-8 col-4 text-right">
															<p>Show [[${cmtlist.number*size + 1 }]] -
																[[${cmtlist.number*size + cmtlist.numberOfElements}]] Of
																[[${cmtlist.totalElements}]] Comments</p>
														</div>
													</div>
												</div>

												<div class="co-item"
													th:each="cmt, iStat : ${cmtlist.content}">
													<div class="avatar-pic">
														<img th:src="'/assets/images/'+ ${cmt.account.photo}"
															alt="">
													</div>
													<div class="avatar-text">
														<div class="at-rating" th:if="${cmt.rate ==1}">
															<i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
																class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
																class="fa fa-star-o"></i>
														</div>
														<div class="at-rating" th:if="${cmt.rate ==2}">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
																class="fa fa-star-o"></i>
														</div>
														<div class="at-rating" th:if="${cmt.rate ==3}">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
																class="fa fa-star-o"></i>
														</div>
														<div class="at-rating" th:if="${cmt.rate ==4}">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star-o"></i>
														</div>
														<div class="at-rating" th:if="${cmt.rate ==5}">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i>
														</div>
														<h5>[[${cmt.account.fullname}]]</h5>
														<div class="at-reply">[[${cmt.content}]]</div>
														<button style="border: none" class="p-0"
															data-toggle="modal" data-target="#photoCmtModalCenter">
															<img th:src="'/assets/images/'+ ${cmt.photo}" alt=""
																height="120px">
														</button>
														<div class="at-reply">[[${cmt.createDate}]]</div>
														<!-- Modal -->
														<div class="modal fade" id="photoCmtModalCenter"
															tabindex="-1" role="dialog"
															aria-labelledby="exampleModalCenterTitle"
															aria-hidden="true">
															<div class="modal-dialog modal-dialog-centered"
																role="document" style="max-width: 30%;">
																<div class="modal-content">
																	<div class="modal-body">
																		<button type="button" class="close"
																			data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">&times;</span>
																		</button>
																	</div>
																	<img th:src="'/assets/images/'+ ${cmt.photo}" alt=""
																		height="120px" class="img-fluid">
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="loading-more">
													<nav aria-label="Page navigation"
														th:if="${cmtlist.totalPages > 1}">
														<ul class="pagination justify-content-center">
															<li
																th:class="${1 == cmtlist.number + 1} ? 'page-item active' : 'page-item'">
																<a
																th:href="@{|/product/detail/${productID}/?size=${cmtlist.size}&page=${1}&sizepro=1|}"
																class="page-link">First</a>
															</li>

															<li class="page-item active"
																th:each="pageNumber : ${pageNumbers}"
																th:if="${cmtlist.totalPages > 1}"
																th:class="${pageNumber == cmtlist.number + 1} ? 'page-item active' : 'page-item'">
																<a
																th:href="@{|/product/detail/${productID}/?size=${cmtlist.size}&page=${pageNumber}&sizepro=1|}"
																class="page-link" th:text="${pageNumber}"></a>
															</li>


															<li
																th:class="${cmtlist.totalPages == cmtlist.number + 1} ? 'page-item active' : 'page-item'">
																<a
																th:href="@{|/product/detail/${productID}/?size=${cmtlist.size}&page=${cmtlist.totalPages}&sizepro=1|}"
																class="page-link">Last</a>
															</li>
														</ul>
													</nav>
												</div>
											</div>
											<th:block th:if="${#request.remoteUser}">
												<div class="leave-comment">
													<h4>Leave A Comment</h4>
													<form class="comment-form">
														<div class="row">
															<div class="col-lg-12">
																<textarea placeholder="Messages" name="content"
																	class="mb-2" ng-model="form.content"></textarea>
															</div>
															<div class="col-lg-4">
																Rate: <select class="col" ng-model="form.rate"
																	style="height: 50px; color: #636363; border: 1px solid #ebebeb; border-radius: 5px"
																	name="rate" id="">
																	<option value="1">Rate: Terrible</option>
																	<option value="2">Rate: Bad</option>
																	<option value="3">Rate: Good</option>
																	<option value="4">Rate: Very Good</option>
																	<option value="5">Rate: Excellent</option>
																</select>
															</div>
															<div class="col-lg-4">
																<div>Image:</div>
																<input type="file" id="photo" class="pt-2 text-light"
																	style="background: #e7ab3c"
																	onchange="angular.element(this).scope().imageChanged(this.files)" />
															</div>
															<div class="col-lg-4">
																Enter "[[*{id}]]" to confirm <input type="text"
																	placeholder="Comfirm This Number"
																	ng-model="form.product.id" name="productId">
															</div>
															<div class="col-md-12">
																<button type="submit" ng-click="createCmt()"
																	class="site-btn">Send message</button>
															</div>
														</div>
													</form>
												</div>
											</th:block>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Product Shop Section End -->

		<!-- Related Products Section End -->
		<div class="related-products spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Related Products</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="product-slider owl-carousel">
							<div class="product-item" th:each="p:*{category.products}">
								<div class="pi-pic" style="width: 363px; height: 444px">
									<a th:href="@{|/product/detail/${p.id}?sizepro=1|}"> <img
										th:src="@{|/assets/images/${p.image}|}" alt="" width=363px;
										height=444px>
									</a>
									<div class="sale">Sale: [[${p.discount}]]%</div>
									<div class="icon">
										<i class="icon_heart_alt"></i>
									</div>
									<ul>
										<li class="quick-view col m-0 p-0"><a
											class="btn-warning text-light"
											th:href="@{|/product/detail/${p.id}?sizepro=1|}">+ Quick
												View</a></li>
									</ul>
								</div>
								<div class="pi-text">
									<div class="catagory-name">[[${p.category.name}]]</div>
									<a href="#">
										<h5 th:utext="${p.name}"></h5>
									</a>
									<div class="product-price">
										$[[${#numbers.formatDecimal(p.price*(1-p.discount*0.01), 0,
										'COMMA', 1, 'POINT')}]] <span th:if="${p.discount != 0}">$[[${p.price}]]</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Related Products Section End -->

	</main>
</body>
</html>