<div class="card ">
	<div class="card-header">
		<h3>Product Detail Edition</h3>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="file-upload col-4">
				<div class="image-upload-wrap">
					<input class="file-upload-input" type="file" id="photo"
						onchange="readURL(this); angular.element(this).scope().imageChanged(this.files); angular.element(this).scope().imageChanged(this.files)"
						accept="image/*" />
					<div class="drag-text">
						<img class="img-fluid p-2"
							ng-src="{{form.image ? '/assets/images/' + form.image : '/assets/images/5aa47c07.png' }}"
							alt="your image" id="img" />
						<h5>Drag and drop a file or select add Image</h5>
					</div>
				</div>
				<div class="file-upload-content">
					<img class="file-upload-image img-fluid"
						ng-src="{{'/assets/images/' + form.image}}"/>
					<div class="image-title-wrap">
						<button type="button" onclick="removeUpload()"
							class="remove-image">
							Remove <span class="image-title">Uploaded Image</span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="row">
					<div class="form-group col-sm-12">
						<div>Product Name</div>
						<select class="form-control" id="move" name="move" ng-model="form.product.id">
							<option ng-repeat="b in products"  ng-value="b.id">{{b.name}}</option>
						</select>
					</div>
			
				</div>

				<div class="row">
					<div class="form-group col-sm-6">
						<div>Color:</div>
						<select class="form-control" ng-model="form.color.id">
							<option ng-repeat="c in colors" ng-value="c.id">{{c.name}}</option>
						</select>
					</div>
					<div class="form-group col-sm-6">
						<div>Size:</div>
						<select class="form-control" ng-model="form.size.id">
							<option ng-repeat="s in sizes" ng-value="s.id">{{s.name}}</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-6">
						<div>Quantity:</div>
						<input type="number" class="form-control" ng-model="form.quantity" />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-6">
    				<div>Available:</div>
    				<label class="radio-inline px-3">
    					<input  ng-model="form.available"  checked="checked" ng-value="true" name="available" type="radio"/>Yes
    				</label>
    				<label class="radio-inline">
    					<input  ng-model="form.available" ng-value="false" name="available" type="radio"/>No
    				</label>
    			</div>
					
				</div>
		
			</div>
		</div>
	</div>
	<div class="card-footer text-muted">
		<button ng-click="create()" class="btn btn-primary">Create</button>
		<button ng-click="update(item)" class="btn btn-success">Update</button>
		<button class="btn btn-danger" ng-click="delete(form)">Delete</button>
		<button ng-click="reset()" class="btn btn-info">Reset</button>
	</div>
</div>