<div class="card">
	<div class="card-header"><h3 class="noibacchu">List Product Detail</h3><i  ng-click="initialize()" class="fa fa-refresh" style="font-size:18px; position: absolute; right: 20px; top: 20px"> <span>Refresh</span> </i></div>
	<div class="card-body">
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col" >Product Name</th>
					<th scope="col" >Image</th>
					<th scope="col" >Create Date</th>
					<th scope="col" >Quantity</th>
					<th scope="col" >Size</th>
					<th scope="col" >Color</th>
					<th style="position: relative;"><img style="width: 100px;height: 80px;position: absolute;top: -17px;right: 37px" 
						src="/assets/images/xenoel1.png" alt="">
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<td>{{item.id}}</td>
					<td style="font-weight: bold;">{{item.product.name}}</td>
					<td width="150px" height="160px">
						<img ng-src="{{'/assets/images/' + item.image}}" width="100%" height="100%"/>
					</td>
					<td>{{item.createDate | date:'dd-MM-yyyy'}}</td>
					<td>{{item.quantity}}</td>
					<td>{{item.size.name}}</td>
					<td>{{item.color.name}}</td>
					<td>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-warning mgr5px" ng-click="edit(item)">Edit</button>
							<button class="btn btn-danger" ng-click="delete(item)">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of {{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
</div>