<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<main>
		<!-- Breadcrumb Section Begin -->
		<div class="breacrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text product-more">
							<a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a> <a
								th:href="@{/cart/view}">My Cart</a> <span>Check Out</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Section Begin -->
		<style>
.inp {
	width: 100%;
	height: 46px;
	border: 2px solid #ebebeb;
	margin-bottom: 25px;
	padding-left: 15px;
	justify-content: center;
}

.Biiling-Details {
	border: 2px solid #ebebeb;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 22px;
	padding-bottom: 35px;
}

.voucher {
	float: right;
	width: 250px;
	margin: 0;
}
</style>
		<!-- Shopping Cart Section Begin -->
		<section class="checkout-section spad">
			<div class="container">
				<th:block th:if="${#request.remoteUser}">
					<div class="checkout-form">
						<div class="row">
							<div class="col-lg-6">
								<h4>Biiling Details</h4>
								<div class="row Biiling-Details" style="height:458px">
									<div class="col-lg-6">
										<label for="fir">Purchaser</label>
										<div class="form-control inp"  id="username"><p style="overflow: hidden;">[[${#request.remoteUser}]]</p></div>
									</div>
									<div class="col-lg-6">
										<label for="fir">Fullname*</label> <input
											ng-model="order.fullname" class="form-control mb-0" ng-change="validateRegisterFullname(order.fullname)">
												<label style="color: red; font-size: 13px">{{message3}}</label>
									</div>
									<div class="col-lg-6">
										<label for="fir">Phone*</label> <input ng-model="order.phone" ng-change="validateCheckoutPhone(order.phone)"
											  class="form-control mb-0">
										<label style="color: red; font-size: 13px">{{message5}}</label>
									
									</div>
									<div class="col-lg-6">
										<label for="last">Order Date</label>
										<div class="form-control inp">{{order.createDate |
											date:'MM-dd-yyyy'}}</div>
									</div>
									<div class="col-lg-12">
										<label for="cun-name">Shipping Address*<span>*</span></label>
										<textarea rows="4" cols="" ng-model="order.address" ng-change="validateRegisterAddress(order.address)"
											class="form-control mb-0"></textarea>
									<label style="color: red; font-size: 13px">{{message6}}</label>
										
									</div>
								</div>
								<br>

							</div>
							<div class="col-lg-6">

								<div class="place-order" th:fragment="shopping_cart">
									<div class="checkout-content voucher">
										<input type="text" placeholder="Enter Your Coupon Code"
											style="height: 46px !important; font-size: 18px;">
									</div>
									<h4>Your Order</h4>

									<div class="order-total" style="padding-bottom: 28px">
										<ul class="order-table1">
											<li>Product <span>Total</span></li>
										</ul>
										<ul class="order-table1" ng-repeat="item in cart.items">
											<li class="fw-normal"><a ng-click="viewDetailInCart(item.product.id)">{{item.product.name}} <span class="float-none" style="color:rgb({{item.color.red}}, {{item.color.green}}, {{item.color.blue}})">({{item.color.name}}-{{item.size.name}})</span></a> x 
												{{item.qty}} <span>${{item.qty*item.product.price*(1-item.product.discount*0.01)|number:1}}</span>
											</li>
										</ul>
										<ul class="order-table mb-4">
											<li class="total-price text-info">Quantity <span class="text-info">{{cart.count}} {{cart.count>1?'Items':'Item'}}</span></li>
											<li class="total-price" style="color:#e7ab3c">Total <span
												ng-model="order.total">${{cart.amount|number:1}}</span></li>
										</ul>
										<div class="col row px-0 float-left">
											<div class="col-1 pr-0" style="margin-bottom: 0">
												<input ng-model="order.status" type="radio" value="0" ng-click="orderStatus(order.status)"
													class="pl-0" style="width: 15px; margin-bottom: 0"
													name="status">
											</div>
											<div class="col-11 pt-2">
												<label style="color: #e7ab3c; margin-bottom: 0">By clicking, you are <b>"Agreeing"</b> to confirm Order
												</label>
											</div>
										</div>
										<div class="order-btn" style="height:95px">
											<button type="submit" style="margin-top: 0"
												class=" site-btn place-btn" ng-hide="vFullname == false || vPhone == false || vAddress == false || OrderStatus == false" ng-click="showPayment()">Place
												Order</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</th:block>


				<!-- <th:block th:unless="${#request.remoteUser}">
					<div class="checkout-form">
						<div class="row">
							<div class="col-lg-6">
								<div class="checkout-content">
									<a th:href="@{/security/login/form}" class="content-btn">Click
										Here To Login</a>
								</div>
								<h4>Biiling Details</h4>
								<div class="row">
									<div class="col-lg-6">
										<label for="fir">Purchaser</label>
										<div class="form-control" id="username" >noAccount</div>
									</div>
									<div class="col-lg-6">
										<label for="fir">Fullname</label> <input name="fullname"
											class="form-control">
									</div>
									<div class="col-lg-6">
										<label for="fir">Email</label> <input name="email" class="form-control">
									</div>
									<div class="col-lg-6">
										<label for="last">Order Date</label>
										<div class="form-control">{{order.createDate |
											date:'dd-MM-yyyy'}}</div>
									</div>
									<div class="col-lg-12">
										<label for="cun-name">Shipping Address<span>*</span></label>
										<textarea rows="" cols="" ng-model="order.address"
											class="form-control"></textarea>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="checkout-content">
									<input type="text" placeholder="Enter Your Coupon Code">
								</div>
								<div class="place-order" th:fragment="shopping_cart">
									<h4>Your Order</h4>
									<div class="order-total">
										<ul class="order-table1">
											<li>Product <span>Total</span></li>
										</ul>
										<ul class="order-table1" ng-repeat="item in cart.items">
											<li class="fw-normal">{{item.name}} x {{item.qty}} <span>${{item.qty*item.price|number:2}}</span></li>
										</ul>
										<ul class="order-table">
											<li class="fw-normal">Subtotal <span>$240.00??</span></li>
											<li class="total-price">Total <span>${{cart.amount|number:2}}</span></li>
										</ul>
										<div class="order-btn">
											<button type="submit" class=" site-btn place-btn">Place
												Order</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</th:block> -->

				<th:block th:unless="${#request.remoteUser}">
					<form th:action="@{/accounts/registerNoACC}" method="post"
						class="checkout-form" enctype="multipart/form-data">
						<div class="row">
							<div class="col-lg-6">
								<div class="checkout-content">
									<a th:href="@{/security/login/form}" class="content-btn">Click
										Here To Login</a>
								</div>
								<h4>Biiling Details</h4>
								<div class="col-lg-6">
									<label>Number Phone *</label> <input name="username"
										id="username" class="form-control">
								</div>
								<div class="col-lg-6">
									<label>Fullname *</label> <input type="text" name="fullname"
										class="form-control">
								</div>
								<div class="col-lg-6">
									<label>Email *</label> <input type="email" name="email"
										class="form-control">
								</div>
								<div class="col-lg-6">
									<label for="last">Order Date</label>
									<div class="form-control">{{order.createDate |
										date:'dd-MM-yyyy'}}</div>
								</div>
								<div class="col-lg-12">
									<label for="cun-name">Shipping Address<span>*</span></label>
									<textarea rows="" cols="" class="form-control" name="address"></textarea>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="checkout-content">
									<input type="text" placeholder="Enter Your Coupon Code">
								</div>
								<div class="place-order" th:fragment="shopping_cart">
									<h4>Your Order</h4>
									<div class="order-total">
										<ul class="order-table1">
											<li>Product <span>Total</span></li>
										</ul>
										<ul class="order-table1" ng-repeat="item in cart.items">
											<li class="fw-normal">{{item.product.name}} x
												{{item.qty}} <span>${{item.qty*item.product.price|number:2}}</span>
											</li>
										</ul>
										<ul class="order-table">
											<li class="fw-normal">Subtotal <span>$240.00??</span></li>
											<li class="total-price">Total <span>${{cart.amount|number:2}}</span></li>
										</ul>
										<div class="order-btn">
											<button type="submit" class=" site-btn place-btn">Place
												Order</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</th:block>
			</div>
		</section>
		<!-- Shopping Cart Section End -->

		<!-- No Data Modal -->
		<div class="modal fade" id="PaymentModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body p-0">
						<div class="card">
							<div class="card-body py-1 alert-secondary">
								<div class="row">
									<img th:src="@{|/assets/images/purchase.jpg|}" alt=""
										class="img-fluid">
								</div>
								<div class="row pb-2 pt-2">
									<a ng-click="order.purchasePayment()" class="btn btn-info col-4 text-light offset-1" style="font-weight:bolder">PayPal</a>
									<a ng-click="order.purchase()" class="btn btn-success col-4 offset-2 text-light" style="font-weight:bolder">Cash On Delivery</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>

