<div class="card">
	<div class="card-header">
		<h3 class="noibacchu">List Brand</h3><i class="fa fa-refresh" ng-click="initialize()" style="font-size:18px; position: absolute; right: 20px; top: 20px"> <span>Show All</span> </i>
				<div class="row pt-3">
			<div class="col-2">
				<button class="btn btn-outline-warning"
					style="width: 100%; font-weight: bolder" ng-click="topBrand()">Top
					Brand</button>
			</div>
			<div class="col-2">
				<button class="btn btn-outline-primary"
					style="width: 100%; font-weight: bolder"
					ng-click="inventoryBrand()">Inventory Brand</button>
			</div>
		</div>
	</div>
	<div class="card-body">
				<div class="row p-2">
			<div class="bg-secondary text-light col px-0 py-1 text-center" ng-show="message">
				<h3 style="font-weight: bolder">{{message}}</h3>
			</div>
		</div>
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th></th><th></th>
					<th scope="col">ID</th>
					<th scope="col">Name (Click to view Product)</th>
					<th position: relative;"></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<th></th><th></th>
					<td>{{item.id}}</td>
					<td ng-click="viewProductToBrand(item)"><a href="" class="btn btn-outline-primary">{{item.name}}</a></td>
					<td>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-warning mgr5px" ng-click="edit(item)">Edit</button>
							<button class="btn btn-danger" ng-click="delete(item)">Delete</button>
						</div>
					</td>
					<th></th>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of {{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header bg-primary text-light">
				<h5 class="modal-title" id="exampleModalLongTitle">Product Of Brand: {{brandName}}</h5>
				<button type="button" class="close text-light" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th width="20%" scope="col">Image</th>
							<th width="5%" scope="col">ID</th>
							<th width="15%" scope="col">Name</th>
							<th width="10%" scope="col">Price</th>
							<th width="10%" scope="col">Discount</th>
							<th width="15%" scope="col">Category</th>
							<th width="15%" scope="col">Gender</th>
							<th width="10%" scope="col">Available</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager2.ProBrandItems">
							<td width="100px"><img
								ng-src="{{item.image ? '/assets/images/' + item.image : '/assets/images/5aa47c07.png'}}" width="100%" /></td>
							<td>{{item.id}}</td>
							<td style="max-width: 250px"><a href=""
								ng-click="proDetail(item)" class="btn btn-outline-primary">{{item.name}}</a></td>
							<td>${{item.price | number:1}}</td>
							<td>{{item.discount}}%</td>
							<td>{{item.category.name}}</td>
							<td>{{item.gender.name}}</td>
							<td>{{item.available?'Seller':'Out Of Stock'}}</td>
						</tr>
					</tbody>
				</table>
				<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pager2.first()">First</button>
					<button class="btn btn-primary" ng-click="pager2.prev()">Prev</button>
					<button class="btn btn-success">{{pager2.page+1}} of
						{{pager2.count}}</button>
					<button class="btn btn-primary" ng-click="pager2.next()">Next</button>
					<button class="btn btn-primary" ng-click="pager2.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Top Brand-->
<div class="modal fade" id="TopBrandModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 40%">
		<div class="modal-content">
			<div class="modal-header bg-warning text-light">
				<div class="col row">
					<h5>Top Brand</h5>
					<button type="button" class="close text-light" data-dismiss="modal"
						ng-click="closeOrderDetail()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th style="width: 10%"></th>
							<th style="width: 25%" scope="col">ID</th>
							<th style="width: 25%" scope="col">Name <br />(Click to
								view Product)
							</th>
							<th>Seller</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerTopBrand.tops">
							<th></th>
							<td>{{item.brand.id}}</td>
							<td style="width: 250px"><a href="" class="btn btn-outline-primary" ng-click="viewProductTopBrand(item.brand)">{{item.brand.name}}</a></td>
							<td>{{item.seller}} {{item.seller>1?'Items':'Item'}}</td>
						</tr>
					</tbody>
				</table>
					<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerTopBrand.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerTopBrand.prev()">Prev</button>
					<button class="btn btn-success">{{pagerTopBrand.page+1}} of
						{{pagerTopBrand.count}}</button>
					<button class="btn btn-primary" ng-click="pagerTopBrand.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerTopBrand.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenterBrand22" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header bg-primary text-light">
				<h5 class="modal-title" id="exampleModalLongTitleBrand">Product Of
					Brand : {{brand.name}}</h5>
				<h5 class="modal-title px-5" id="exampleModalLongTitleBrand">Inventory:
					{{sumProInBrand}} {{sumProInBrand>1?'Items':'Item'}}</h5>
				<button type="button" class="close text-light" data-dismiss="modal" ng-click="closeProductInBrand()"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th width="20%" scope="col">Image</th>
							<th width="5%" scope="col">ID</th>
							<th width="20%" scope="col">Name <br />(Click to view
								Details)
							</th>
							<th width="10%" scope="col">Price</th>
							<th width="5%" scope="col">Discount</th>
							<th width="15%" scope="col">Gender</th>
							<th width="15%" scope="col">Category</th>
							<th width="10%" scope="col">Available</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager2.ProBrandItems">
							<td width="100px"><img
								ng-src="{{item.image ? '/assets/images/' + item.image : '/assets/images/5aa47c07.png'}}" width="100%" /></td>
							<td>{{item.id}}</td>
							<td style="max-width: 250px"><a href=""
								ng-click="proDetail(item)" class="btn btn-outline-primary">{{item.name}}</a></td>
							<td>${{item.price | number:1}}</td>
							<td>{{item.discount}}%</td>
							<td>{{item.gender.name}}</td>
							<td>{{item.category.name}}</td>
							<td>{{item.available?'Seller':'Out Of Stock'}}</td>

						</tr>
					</tbody>
				</table>
				<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pager2.first()">First</button>
					<button class="btn btn-primary" ng-click="pager2.prev()">Prev</button>
					<button class="btn btn-success">{{pager2.page+1}} of
						{{pager2.count}}</button>
					<button class="btn btn-primary" ng-click="pager2.next()">Next</button>
					<button class="btn btn-primary" ng-click="pager2.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Inventory Brand-->
<div class="modal fade" id="InventoryBrandModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 40%">
		<div class="modal-content">
			<div class="modal-header bg-primary text-light">
				<div class="col row">
					<h5>Inventory Brand</h5>
					<button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th style="width: 10%"></th>
							<th style="width: 25%" scope="col">ID</th>
							<th style="width: 25%" scope="col">Name <br />(Click to
								view Product)
							</th>
							<th>Inventory</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerBrandInventory.inventories">
							<th></th>
							<td>{{item.brand.id}}</td>
							<td style="width: 250px"><a href="" class="btn btn-outline-primary" ng-click="viewProductToBrandTrenTop(item.brand)">{{item.brand.name}}</a></td>
							<td>{{item.inventory}} {{item.inventory>1?'Items':'Item'}}</td>
						</tr>
					</tbody>
				</table>
						<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerBrandInventory.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerBrandInventory.prev()">Prev</button>
					<button class="btn btn-success">{{pagerBrandInventory.page+1}} of
						{{pagerBrandInventory.count}}</button>
					<button class="btn btn-primary" ng-click="pagerBrandInventory.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerBrandInventory.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Product Detail-->
<div class="modal fade" id="ProDetailModalCenterBrand" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header bg-secondary text-light">
				<h5 class="modal-title" id="exampleModalLongTitleBrand">Product ID: {{product.id}}</h5>
				<h5 class="modal-title px-5" id="exampleModalLongTitleBrand">Name: {{product.name}}</h5>
				<h5 class="modal-title" id="exampleModalLongTitleBrand">Quantity: {{countProDetail}} {{countProDetail>1?'Items':'Item'}}</h5>
				<button type="button" class="close text-light" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th scope="col">Image</th>
							<th scope="col">Color</th>
							<th scope="col">Size</th>
							<th scope="col">Quantity</th>
							<th scope="col">Create Date</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerProDet.ProDetailitems">
							<td width="150px"><img
								ng-src="{{item.image ? '/assets/images/' + item.image : '/assets/images/5aa47c07.png'}}" width="100%" /></td>
							<td>{{item.color.name}}</td>
							<td>{{item.size.name}}</td>
							<td ng-init="$parent.totalPro = $parent.totalPro + item.quantity">{{item.quantity}} {{item.quantity>1?'Items':'Item'}}</td>
							<td>{{item.createDate | date:'dd-MM-yyyy'}}</td>
						</tr>
					</tbody>
				</table>
				<div class="text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerProDet.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerProDet.prev()">Prev</button>
					<button class="btn btn-success">{{pagerProDet.page+1}} of
						{{pagerProDet.count}}</button>
					<button class="btn btn-primary" ng-click="pagerProDet.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerProDet.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Product In Top Brand-->
<div class="modal fade" id="ProductTopBrandModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header bg-warning text-light py-1">
				<div class="col row py-2">
					<h5>Category: <span
							style="text-transform: uppercase; font-weight: bolder">{{category.name}}</span></h5>
					<a type="button" class="close text-light pt-3 pr-0"  data-dismiss="modal" ng-click="closeOrderDetail()"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</a>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th scope="col">Image</th>
							<th scope="col">Product ID</th>
							<th scope="col">Product Name</th>
							<th scope="col">Price</th>
							<th scope="col">Discount</th>
							<th scope="col">Gender</th>
							<th scope="col">Category</th>
							<th scope="col">Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerProTopBrand.ProTopBrandItems">
							<td width="150px"><img
								ng-src="{{item.product.image ? '/assets/images/' + item.product.image : '/assets/images/5aa47c07.png'}}" width="100%" /></td>
							<td>{{item.product.id}}</td>
							<td style="max-width: 250px"><a href=""
								ng-click="proDetail(item.product)" class="btn btn-outline-primary">{{item.product.name}}</a></td>
							<td>${{item.product.price}}</td>
							<td>{{item.product.discount}}%</td>
							<td>{{item.product.gender.name}}</td>
							<td>{{item.product.category.name}}</td>
							<td>{{item.value}} {{item.value>1?'Items':'Item'}}</td>
						</tr>
					</tbody>
				</table>
				<div class="text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerProTopBrand.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerProTopBrand.prev()">Prev</button>
					<button class="btn btn-success">{{pagerProTopBrand.page+1}} of
						{{pagerProTopBrand.count}}</button>
					<button class="btn btn-primary" ng-click="pagerProTopBrand.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerProTopBrand.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- No Data Modal -->
<div class="modal fade" id="NoDataModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
      	<img ng-src="{{'/assets/images/nodata_1.png'}}" class="border" alt="" height="300px"/>
      </div>
    </div>
  </div>
</div>