<div class="card ">
	<div class="card-header">
		<a ng-click="CreateNewBrand()" class="btn btn-outline-dark"
				style="font-size: 14px; position: absolute; left: 20px; top: 20px">
				<span>Create New Brand</span>
		</a>
		<a ng-click="CreateNewCategory()" class="btn btn-outline-dark"
				style="font-size: 14px; position: absolute; left: 175px; top: 20px">
				<span>Create New Category</span></a>
		<h3 class="noibacchu">Product Edition</h3>
		<i class="fa fa-refresh "  ng-click="reset()"
			style="font-size: 18px; position: absolute; right: 20px; top: 20px">
			<span>Create New</span>
		</i>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="file-upload col-4">
				<div class="image-upload-wrap">
					<input class="file-upload-input" type="file" id="photo"
						onchange="readURL(this); angular.element(this).scope().imageChanged(this.files); angular.element(this).scope().imageChanged(this.files)"
						accept="image/*" />
					<div class="drag-text">
						<img class="img-fluid p-2"
							ng-src="{{form.image ? '/assets/images/' + form.image : '/assets/images/5aa47c07.png' }}"
							alt="your image" id="img" />
						<h5>Drag and drop a file or select add Image</h5>
					</div>
				</div>
				<div class="file-upload-content">
					<img class="file-upload-image img-fluid"
						ng-src="{{'/assets/images/' + form.image}}" alt="your image" />
					<div class="image-title-wrap">
						<button type="button" onclick="removeUpload()"
							class="remove-image">
							Remove <span class="image-title">Uploaded Image</span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Name:</div>
						<input class="form-control" ng-model="form.name" required="" ng-change="validateName(form.name)"/>
						<label style="color: red;">{{message1}}</label>
					</div>
					<div class="form-group col-sm-6">
						<div>Price:</div>
						<input class="form-control" ng-model="form.price" required="" ng-change="validatePrice(form.price)"/>
						<label style="color: red;">{{message2}}</label>
						
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-6">
						<div>Category:</div>
						<select class="form-control" ng-model="form.category.id" required="" ng-change="validateCategory(form.category.id)">
							<option value="" disabled="disabled">Choose Category:</option>
							<option ng-repeat="c in cates" ng-value="c.id">{{c.name}}</option>
						</select>
					</div>
					<div class="form-group col-sm-6">
						<div>Discount:</div>
						<input  class="form-control" ng-model="form.discount" required="" ng-change="validateDiscount(form.discount)"/>
						<label style="color: red;">{{message3}}</label>
					
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-6">
						<div>Gender:</div>
						<select class="form-control" ng-model="form.gender.id" required="" ng-change="validateGender(form.gender.id)">
							<option value="" disabled="disabled">Choose Gender:</option>
							<option ng-repeat="g in genders" ng-value="g.id">{{g.name}}</option>
						</select>
					</div>
					<div class="form-group col-sm-6">
						<div>Brand:</div>
						<select class="form-control" ng-model="form.brand.id" required="" ng-change="validateBrand(form.brand.id)">
							<option value="" disabled="disabled">Choose Brand:</option>
							<option ng-repeat="b in brands" ng-value="b.id">{{b.name}}</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-12">
						<div>Description:</div>
						<textarea type="text" class="form-control" ng-model="form.description" rows="6" ng-change="validateMota(form.description)"></textarea>
						<label style="color: red;">{{message4}}</label>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer text-muted">
			<div ng-if="isEdit == null" class="row">
			<button ng-if="vName == true && vPrice == true && vCategory == true && vDiscount == true && vGender == true && vBrand == true && vMota == true" ng-click="create()" class="btn btn-success offset-3 col-3 mr-2" style="font-weight:bolder">Create</button>
			<button ng-if="vName == false || vPrice == false || vCategory == false || vDiscount == false || vGender == false || vBrand == false || vMota == false" disabled="disabled" ng-click="create()" class="btn btn-success offset-3 col-3 mr-2" style="font-weight:bolder">Create</button>
			<button ng-click="reset()" class="btn btn-info col-3 ml-2" style="font-weight:bolder">Reset</button>
		</div>
		<div ng-if="isEdit == 'true'"  class="row">
			<button ng-click="update(item)" class="btn btn-warning offset-3 col-3 mr-2" style="font-weight:bolder">Update</button>
			<button class="btn btn-danger col-3 ml-2" style="font-weight:bolder" ng-click="delete(form)">Delete</button>
		</div>
	</div>
</div>