<div class="card">
	<div class="card-header">
		<button class="btn btn-outline-warning"
					style="width: 120px; font-weight: bolder; right: left0px; top: 20px" ng-click="topProduct()">Top
					Product</button>
		<h3 class="noibacchu">List Product</h3>
		<i class="fa fa-refresh" ng-click="initialize()"
			style="font-size: 18px; position: absolute; right: 20px; top: 20px">
			<span>Show All</span>
		</i>
		<div class="row pt-3 col-3">
			<select class="form-control"
				ng-model="form.category.id2" ng-change="findbyCategory(form.category.id2)"
				style="font-weight: bold; border: solid 1px;">
				<option value="" disabled="disabled">Find By Category:</option>
				<option ng-repeat="item in cates" ng-value="item.id"
					style="font-weight: bold;">{{item.name}}</option>
			</select>
		</div>
	</div>
	<div class="card-body">
				<div class="row p-2">
			<div class="bg-secondary text-light col px-0 py-1 text-center" ng-show="message">
				<h3 style="font-weight: bolder">{{message}}</h3>
			</div>
		</div>
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th width="10%" scope="col">Image</th>
					<th width="5%" scope="col">ID</th>
					<th width="20%" scope="col">Name <br /> (Click to view
						Pro.Details)
					</th>
					<th width="10%" scope="col">Price</th>
					<th width="10%" scope="col">Discount</th>
					<th width="10%" scope="col">Category</th>
					<th width="10%" scope="col">Gender</th>
					<th width="10%" scope="col">Brand</th>
					<th width="10%" scope="col">Available</th>
					<th width="10%" style="position: relative;"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<td width="100px"><img
						ng-src="{{'/assets/images/' + item.image}}" width="100%" /></td>
					<td>{{item.id}}</td>
					<td style="max-width: 250px" ng-click="viewall(item)"><a
						href="">{{item.name}}</a></td>
					<td>{{item.price | number:1}}</td>
					<td>{{item.discount}}%</td>
					<td>{{item.category.name}}</td>
					<td>{{item.gender.name}}</td>
					<td>{{item.brand.name}}</td>
					<td>{{item.available}}</td>


					<td>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-warning mgr5px" ng-click="edit(item)">Edit</button>
							<button class="btn btn-danger" ng-click="delete(item)">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of
			{{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
</div>


<div class="modal fade" id="viewAllModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 50%;"
		role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col row">
					<h5 class="pt-1">
							Product ID: <span
								style="text-transform: uppercase; font-weight: bolder">{{product.id}}</span>
					</h5>
					<h5 class="px-5 pt-1" style="width:420px">
							Product Name: <span
								style="text-transform: uppercase; font-weight: bolder">{{product.name}}</span>
					</h5>
					<h5 style="padding-right:130px" class="pt-1">
							Quantity: <span
								style="text-transform: uppercase; font-weight: bolder">{{sumPro}}</span>
					</h5>
					<button class="btn btn-warning" ng-click="adddetail(product)" >Add New Detail</button>
				</div>
			</div>
				<div class="modal-body">
				<div class="card-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Image</th>
								<th scope="col">Color</th>
								<th scope="col">Size</th>
								<th scope="col">Quantity</th>
								<th scope="col">Create Date</th>
								<th style="position: relative;"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item1 in pager2.ODitems">
								<td width="150px"><img
									ng-src="{{'/assets/images/' + item1.image}}" width="100%" /></td>
								<td>{{item1.color.name}}</td>
								<td>{{item1.size.name}}</td>
								<td>{{item1.quantity}}</td>
								<td>{{item1.createDate | date:'dd-MM-yyyy'}}</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-warning mgr5px"
											ng-click="editPrDe(item1)">Edit</button>
										<button class="btn btn-danger" ng-click="deletePrDe(item1)">Delete</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="text-center">
						<button class="btn btn-primary" ng-click="pager2.first()">First</button>
						<button class="btn btn-primary" ng-click="pager2.prev()">Prev</button>
						<button class="btn btn-success">{{pager2.page2+1}} of
							{{pager2.count}}</button>
						<button class="btn btn-primary" ng-click="pager2.next()">Next</button>
						<button class="btn btn-primary" ng-click="pager2.last()">Last</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>



<div class="modal fade" id="exampleModalCenter1" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 50%;"
		role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle1">Product
					Detail Control</h5>
				<button type="button" class="close" data-dismiss="modal"
					ng-click="viewall(product)" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="card-body">
					<div class="row">
						<div class="file-upload col-4">
							<div class="image-upload-wrap">
								<input class="file-upload-input" type="file" id="photo"
									onchange="readURL(this); angular.element(this).scope().imageChanged2(this.files); loadFile(event)"
									accept="image/*" />
								<div class="drag-text">
									<img class="img-fluid p-2"
										ng-src="{{form2.image ? '/assets/images/' + form2.image : '/assets/images/5aa47c07.png' }}"
										alt="your image" id="img" />
									<h5>Drag and drop a file or select add Image</h5>
								</div>
							</div>
							<div class="file-upload-content">
								<img class="file-upload-image img-fluid"
									ng-src="{{'/assets/images/' + form2.image}}" alt="your image" />
								<div class="image-title-wrap">
									<button type="button" onclick="removeUpload()"
										class="remove-image">
										Remove <span class="image-title">Uploaded Image</span>
									</button>
								</div>
							</div>
						</div>
						<div class="col-8">
							<div class="row">
								<div class="form-group col-sm-12">
									<div>Product ID</div>
									<select class="form-control" id="move" name="move"
										ng-model="form2.product.id">
										<option ng-repeat="b in products2" ng-value="b.id">{{b.name}}</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-sm-6">
									<div>Size:</div>
									<select class="form-control" ng-model="form2.size.id">
										<option ng-repeat="s in sizes" ng-value="s.id">{{s.name}}</option>
									</select>
								</div>
								<div class="form-group col-sm-6">
									<div>Color:</div>
									<div class="row">
										<div class="col-5 pr-0">
											<select class="form-control" ng-model="form2.color.id">
												<option class="text-light" ng-repeat="c in colors"
													ng-value="c.id" style="background-color: rgb({{c.red}},{{c.green}},{{c.blue}}">{{c.name}}</option>
											</select>
										</div>
										<div class="col-7">
											<button class="btn btn-outline-dark"
												style="width: 100%; font-weight: bolder"
												ng-click="CreateNewColorModal()">Create New Color</button>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-sm-6">
									<div>Quantity:</div>
									<input type="number" class="form-control"
										ng-model="form2.quantity" />
								</div>
								<div class="form-group col-sm-6">
									<div>Available:</div>
									<label class="radio-inline px-3"> <input
										ng-model="form2.available" checked="checked" ng-value="true"
										name="available" type="radio" />Yes
									</label> <label class="radio-inline"> <input
										ng-model="form2.available" ng-value="false" name="available"
										type="radio" />No
									</label>
								</div>
							</div>

						</div>
					</div>
				</div>
				<button ng-click="createD()" class="btn btn-primary">Create</button>

				<button ng-click="updateD(item)" class="btn btn-success">Update</button>
				<button ng-click="resetD()" class="btn btn-info">Reset</button>
			</div>
		</div>
	</div>
</div>


<!--Product Detail-->
<div class="modal fade" id="showCategoryModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 70%">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col row">
					<h5>Find by Category</h5>
					<button type="button" class="close " data-dismiss="modal"
						style="width: 20px; height: 20px" ng-click="closeProDetail()"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="modal-body"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="createNewColoreModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 40%">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Create New
					Color</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row col">
					<div class="col-5">
						<div class="first">
							<canvas id="canvas" width="280px" height="354px" class="border"></canvas>
							<input type="file" accept="image/*" name="image" id="file"
								onchange="loadFile(event)">
							<div id="status" hidden="hidden"></div>
						</div>
					</div>
					<div class="col-7">
						<div class="form-group">
							<input class="form-control" disabled="disabled"
								ng-model="form.id" hidden="hidden" />
						</div>
						<div class="row pb-2">
							<div class="col-12">
								<div class="row pl-2" style="height: 21px;">
									New Color:
									<p style="height: 21px;">&nbsp</p>
									<p id="show2" class="pr-2 m-0" style="height: 21px;"></p>
								</div>
								<div id="color" style="height: 35px;"></div>
							</div>
						</div>
						<div class="form-group pt-1">
							<div>Name:</div>
							<input class="form-control" ng-model="form.name" />
						</div>
						<div class="form-group">
							<div>Red:</div>
							<input class="form-control" ng-model="form.red" id="red"
								value="red" />
						</div>
						<div class="form-group">
							<div>Green:</div>
							<input class="form-control" ng-model="form.green" id="green"
								value="green" />
						</div>
						<div class="form-group">
							<div>Blue:</div>
							<input class="form-control" ng-model="form.blue" id="blue"
								value="blue" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button ng-click="createColor()" class="btn btn-primary">Create</button>
			</div>
		</div>
	</div>
</div>

<!--Top Product-->
<div class="modal fade" id="TopProductModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 40%">
		<div class="modal-content">
			<div class="modal-header bg-warning">
				<div class="col row text-light">
					<h5>Top Product</h5>
					<button type="button" class="close " data-dismiss="modal"
						ng-click="closeOrderDetail()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th style="width: 10%"></th>
							<th style="width: 25%" scope="col">ID</th>
							<th style="width: 25%" scope="col">Name
							</th>
							<th>Seller</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerTopProduct.tops">
							<th></th>
							<td>{{item.product.id}}</td>
							<td style="width: 250px">{{item.product.name}}</td>
							<td>{{item.seller}}</td>
						</tr>
					</tbody>
				</table>
				<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerTopProduct.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerTopProduct.prev()">Prev</button>
					<button class="btn btn-success">{{pagerTopProduct.page+1}}
						of {{pagerTopProduct.count}}</button>
					<button class="btn btn-primary" ng-click="pagerTopProduct.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerTopProduct.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Inventory Product-->
<div class="modal fade" id="InventoryProductModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 70%">
		<div class="modal-content">
			<div class="modal-header bg-warning">
				<div class="col row">
					<h5>Inventory Brand</h5>
					<button type="button" class="close " data-dismiss="modal"
						ng-click="closeOrderDetail()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th style="width: 10%"></th>
							<th style="width: 25%" scope="col">ID</th>
							<th style="width: 25%" scope="col">Name <br />(Click to
								view Product)
							</th>
							<th>Inventory</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerProductInventory.inventories">
							<th></th>
							<td>{{item.product.id}}</td>
							<td style="width: 250px"><a href=""
								class="btn btn-outline-primary"
								ng-click="viewProductToBrandTrenTop(item.brand)">{{item.product.name}}</a></td>
							<td>{{item.inventory}}</td>
						</tr>
					</tbody>
				</table>
				<div class="card-footer text-muted text-center">
					<button class="btn btn-primary"
						ng-click="pagerProductInventory.first()">First</button>
					<button class="btn btn-primary"
						ng-click="pagerProductInventory.prev()">Prev</button>
					<button class="btn btn-success">{{pagerProductInventory.page+1}}
						of {{pagerProductInventory.count}}</button>
					<button class="btn btn-primary"
						ng-click="pagerProductInventory.next()">Next</button>
					<button class="btn btn-primary"
						ng-click="pagerProductInventory.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- No Data Modal -->
<div class="modal fade" id="NoDataModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<img ng-src="{{'/assets/images/nodata_1.png'}}" class="border"
					alt="" height="300px" />
			</div>
		</div>
	</div>
</div>