<div class="card">
	<div class="card-header">
		<h3>List Products</h3><i class="fa fa-refresh" style="font-size:18px; position: absolute; right: 20px; top: 20px"> <span>Refresh</span> </i>
	</div>
	<div class="card-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="10%" scope="col">Image</th>
					<th width="3%" scope="col">ID</th>
					<th width="10%" scope="col">Name</th>
					<th width="10%" scope="col">Price</th>
					<th width="10%" scope="col">Discount</th>
					<th width="10%" scope="col">Category</th>
					<th width="10%" scope="col">Gender</th>
					<th width="10%" scope="col">Brand</th>

					<th width="10%"><img style="width: 100px;height: 80px;position: absolute;top: 65px;"
							src="/assets/images/xenoel1.png" alt="">
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<td width="100px">
						<img ng-src="{{'/assets/images/' + item.image}}" width="100%" />
					</td>
					<td>{{item.id}}</td>
					<td style="max-width: 250px">{{item.name}}</td>
					<td>{{item.price | number:1}}</td>
					<td>{{item.discount}}%</td>
					<td>{{item.category.name}}</td>
					<td>{{item.gender.name}}</td>
					<td>{{item.brand.name}}</td>

					<td>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-warning mgr5px" ng-click="edit(item)">Edit</button>
							<button class="btn btn-danger" ng-click="delete(item)">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of {{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
</div>