<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<section>
	<div th:fragment="header">
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- Header Section Begin -->
		<header class="header-section">

			<div class="header-top">
				<div class="container">
					<div class="ht-left">
						<div class="mail-service">
							<i class=" fa fa-envelope"></i> Team17@gmail.com
						</div>
						<div class="phone-service">
							<i class=" fa fa-phone"></i> +84 798.181.782
						</div>
					</div>
					<div class="ht-right">

						<!--Login-->
						<th:block th:if="${#request.remoteUser}">

							<a th:href="@{/security/logoff}" class="login-panel"><i
								class="fa fa-sign-out"></i>Logout</a>
							<a th:href="@{/accounts/info}" class="login-panel"
								style="margin-right: 20px;"><i class="fa fa-user-circle"></i>[[${#request.remoteUser}]]</a>
						</th:block>
						<th:block th:unless="${#request.remoteUser}">

							<a th:href="@{/security/login/form}" class="login-panel"
								data-toggle="modal" data-target="#loginModalCenter"><i
								class="fa fa-sign-in"></i>Login</a>
							<a th:href="@{/accounts/newaccount}" class="login-panel"
								style="margin-right: 20px;"><i class="fa fa-address-book"></i>Register</a>

						</th:block>

						<div class="modal fade" id="loginModalCenter" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalCenterTitle"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered"
								style="max-width: 30%;" role="document">
								<div class="modal-content">
									<div class="modal-body">
										<div class="login-form">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<div class="col-10 offset-1 pb-3">
												<h2>Login</h2>
												<form th:action="@{/security/login/form}" method="post">
													<p style="color: red; font-style: italic; font-size: 13pt;">[[${message}]]</p>
													<div class="group-input">
														<label>Username or email address *</label> <input
															type="text" name="username">
													</div>
													<div class="group-input">
														<label>Password *</label> <input type="password"
															name="password">
													</div>
													<div class="group-input gi-check">
														<div class="gi-more">
															<label for="save-pass"> Save Password <input
																type="checkbox" id="save-pass"> <span
																class="checkmark"></span>
															</label> <a th:href="@{/home/forgot-password}"
																class="forget-pass">Forgot your Password</a>
														</div>
													</div>
													<button type="submit" class="site-btn login-btn">Sign
														In</button>
												</form>
												<div class="switch-login">
													<a th:href="@{/accounts/newaccount}" class="or-login">Or
														Create An Account</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--Login-->

						<div class="lan-selector">
							<select class="language_drop" name="countries" id="countries"
								style="width: 300px;">
								<option value='yt' data-image="/site/img/flag-1.jpg"
									data-imagecss="flag yt" data-title="English">English</option>
								<option value='yu' data-image="/site/img/flag-2.jpg"
									data-imagecss="flag yu" data-title="Bangladesh">German
								</option>
							</select>
						</div>

						<div class="top-social">
							<a href="https://www.facebook.com/profile.php?id=100001628739372"><i
								class="ti-facebook"></i></a> <a
								href="https://www.facebook.com/loser226"><i
								class="ti-twitter-alt"></i></a> <a
								href="https://www.facebook.com/DH.0.1.2.7"><i
								class="ti-linkedin"></i></a> <a
								href="https://www.facebook.com/tamdv1307/"><i
								class="ti-pinterest"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="inner-header">
					<div class="row">
						<!--Logo-->
						<div class="col-lg-2 col-md-2">
							<div class="logo">
								<a th:href="@{/home/index}"> <img src="/site/img/logo.png"
									alt="">
								</a>
							</div>
						</div>
						<!--Logo-->

						<!--Search-->
						<div class="col-lg-7 col-md-7">
							<div class="advanced-search">
								<button type="button" class="category-btn" data-toggle="modal"
									data-target="#exampleModalCenter">Filter Products</button>

								<!-- Modal -->
								<div class="modal fade" id="exampleModalCenter" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalCenterTitle"
									aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document"
										style="max-width: 40%;">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLongTitle">Filter
													All Products</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form th:action="@{/product/filter}" method="get"
												enctype="multipart/form-data">
												<div class="modal-body">
													<div class="col row">
														<div class="col-6">
															<div class="input-group p-0 m-0" style="max-width: 100%">
																<div class="input-group-prepend">
																	<label class="input-group-text"
																		for="inputGroupSelect01">Categories</label>
																</div>
																<select class="custom-select" id="cid" name="cid">
																	<option value="">All Categories</option>
																	<option th:each="cate:${cates}" th:value="${cate.id}">[[${cate.name}]]</option>
																</select>
															</div>
														</div>
														<div class="col-6">
															<div class="input-group p-0 m-0" style="max-width: 100%">
																<div class="input-group-prepend">
																	<label class="input-group-text"
																		for="inputGroupSelect01">Brands</label>
																</div>
																<select class="custom-select" id="brand" name="brand">
																	<option value="">All Brands</option>
																	<option th:each="brands:${brands}"
																		th:value="${brands.name}">[[${brands.name}]]</option>
																</select>
															</div>
														</div>
													</div>

													<div class="col row py-4">
														<div class="col-6">
															<div class="input-group p-0 m-0" style="max-width: 100%">
																<div class="input-group-prepend">
																	<label class="input-group-text"
																		for="inputGroupSelect01">Sizes</label>
																</div>
																<select class="custom-select" id="sizepro"
																	name="sizepro">
																	<option value="">All Sizes</option>
																	<option th:each="sizes:${sizes}"
																		th:value="${sizes.name}">[[${sizes.name}]]</option>
																</select>
															</div>
														</div>
														<div class="col-6">
															<div class="input-group p-0 m-0" style="max-width: 100%">
																<div class="input-group-prepend">
																	<label class="input-group-text"
																		for="inputGroupSelect01">Genders</label>
																</div>
																<select class="custom-select" id="gender" name="gender">
																	<option value="">All Genders</option>
																	<option th:each="genderlist:${genderlist}"
																		th:value="${genderlist.name}">[[${genderlist.name}]]</option>
																</select>
															</div>
														</div>
													</div>

													<div class="col row">
														<div class="col-6">
															<div class="input-group p-0 m-0" style="max-width: 100%">
																<div class="input-group-prepend">
																	<label class="input-group-text"
																		for="inputGroupSelect01">Colors</label>
																</div>
																<select class="custom-select" id="color" name="color">
																	<option value="">All Colors</option>
																	<option th:each="colors:${colors}"
																		th:value="${colors.name}">[[${colors.name}]]</option>
																</select>
															</div>
														</div>
														<div class="col-6">
															<div class="input-group p-0 m-0" style="max-width: 100%">
																<div class="input-group-prepend">
																	<label class="input-group-text"
																		for="inputGroupSelect01">Price</label>
																</div>
																<div class="col row border mr-1">
																	<div class="col-6">
																		<input type="number" min=0 name="min" id="min"
																			placeholder="From" value=0 class="text-dark">
																	</div>
																	<div class="col-6">
																		<input type="number" min=0 name="max" id="max"
																			placeholder="To" value=9999 class="text-dark">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button class="btn btn-warning text-light">Filter</button>
												</div>
											</form>
										</div>
									</div>
								</div>

								<form action="/product/list" method="post" class="input-group">
									<input type="text" placeholder="What do you need?"
										name="search">
									<button class="filter-btn">
										<i class="ti-search"></i>
									</button>
								</form>
							</div>
						</div>
						<!--Search-->


						<div class="col-lg-3 text-right col-md-3">
							<ul class="nav-right">

								<!--Dislay Cart-->
								<li class="cart-icon" th:fragment="shopping_cart"><a
									th:href="@{/cart/view}"> <i class="icon_bag_alt"></i> <span>{{cart.count}}</span>
								</a>
									<div class="cart-hover">
										<div class="select-items">
											<table>
												<tbody>
													<tr ng-repeat="item in cart.items">
														<td class="si-pic col-4"><img
															src="/assets/images/{{item.image}}" width="70px"
															height="70px"></td>
														<td class="si-text col-5">
															<div class="product-selected">
																<p>${{item.product.price*(1-item.product.discount*0.01)|number:1}}
																	x {{item.qty}}</p>
																<h6>{{item.product.name}}</h6>
															</div>
														</td>
														<td class="si-close col-2"><i class="ti-close"
															ng-click="cart.removeHD(item.id)"></i></td>
													</tr>

												</tbody>
											</table>
										</div>

										<div class="select-total">
											<span>Total:</span>
											<h5>${{cart.amount|number:1}}</h5>
										</div>

										<div class="select-button">
											<a th:href="@{/cart/view}" class="primary-btn view-card">VIEW
												CARD</a> 
												

											<div ng-repeat="item in cart.items" ng:show="$index == 0">
												<div ng-if="!item.view">
													<th:block th:if="${#request.remoteUser}">
														<a th:href="@{/order/checkout}" class="primary-btn checkout-btn">CHECK OUT</a>
													</th:block>
													<th:block th:unless="${#request.remoteUser}">
														<a th:href="@{/order/checkout}" data-toggle="modal"
															data-target="#loginModalCenter" class="primary-btn checkout-btn">CHECK OUT</a>
													</th:block>
												</div>
											</div>
										</div>
									</div></li>
								<li class="cart-price">${{cart.amount|number:1}}</li>
								<!--Dislay Cart-->

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-item">
				<div class="container">
					<div class="nav-depart">
						<div class="depart-btn">
							<i class="ti-menu"></i> <span>All departments</span>
							<ul class="depart-hover">
								<div th:each="c:${cates}">
									<li><a th:href="@{|/product/list?cid=${c.id}|}">[[${c.name}]]</a></li>
								</div>
							</ul>
						</div>
					</div>
					<nav class="nav-menu mobile-menu">
						<ul>
							<li><a th:href="@{/home/index}">Home</a></li>
							<li><a th:href="@{/product/listall}">Shop</a></li>
							<li><a th:href="@{/product/list}">Collection</a>
								<ul class="dropdown">
									<div th:each="g:${genderlist}">
										<li><a th:href="@{|/product/list?gender=${g.id}|}">[[${g.name}]]</a></li>
									</div>
								</ul></li>
							<li><a th:href="@{/blog/list}">Blog</a></li>
							<li><a th:href="@{/contact}">Contact</a></li>
							<li><a href="#">Pages</a>
								<ul class="dropdown">
									<th:block th:unless="${#request.remoteUser}">
										<li><a th:href="@{/security/login/form}">Login</a></li>
										<li><a th:href="@{/accounts/newaccount}">Register</a></li>
										<li><a th:href="@{/home/forgot-password}">Forgot
												Password</a></li>
									</th:block>
									<th:block th:if="${#request.remoteUser}">
										<li><a th:href="@{/home/change-password}">Change
												Password</a></li>
										<li><a th:href="@{/accounts/info}">My Profile</a></li>
										<li><a th:href="@{/order/list?sid=0}">My Order</a></li>
										<li><a th:href="@{/admin/home/index}"
											th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">Administration</a></li>
										<li><a th:href="@{/security/logoff}">Logout</a></li>
									</th:block>
								</ul></li>
						</ul>
					</nav>
					<div id="mobile-menu-wrap"></div>
				</div>
			</div>
		</header>
		<!-- Header End -->
	</div>
</section>