<!doctype html>
<html xmlns="http://www.thymeleaf.org" th:fragment="dynamic(view)">

<head>
<meta charset="UTF-8">
<meta name="description" content="Fashi Template">
<meta name="keywords" content="Fashi, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fashi | Template</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.8/dist/sweetalert2.all.min.js"></script>

<!-- Google Font -->
<link
	href="
	https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap
	"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/site/css/bootstrap.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/font-awesome.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/themify-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/elegant-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/owl.carousel.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/nice-select.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/jquery-ui.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/slicknav.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/style.css}" type="text/css">
<link rel="stylesheet" th:href="@{/site/css/image.css}" type="text/css">

<style>
.filterDiv {
	display: none;
}

.show {
	display: block;
}
</style>
</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">

	<main>
		<header th:insert="~{/layout/_header.html :: header}"></header>
		<main th:replace="${view}"></main>
		<footer th:insert="~{/layout/_footer.html :: footer}"></footer>
	</main>

	<!-- Js Plugins -->


	<script>
		$(function() {
			$("#slider-range")
					.slider(
							{
								range : true,
								min : 0,
								max : 200,
								values : [ 0, 0 ],
								slide : function(event, ui) {
									$("#amount").val(
											"$" + ui.values[0] + " - $"
													+ ui.values[1]);
									$("#amount_start").val(ui.values[0]);
									$("#amount_end").val(ui.values[1]);
								}
							});
		});

		function readURL(input) {
			if (input.files && input.files[0]) {

				var reader = new FileReader();

				reader.onload = function(e) {
					$('.image-upload-wrap').hide();

					$('.file-upload-image').attr('src', e.target.result);
					$('.file-upload-content').show();

					$('.image-title').html(input.files[0].name);
				};

				reader.readAsDataURL(input.files[0]);

			} else {
				removeUpload();
			}
		}

		function removeUpload() {
			$('.file-upload-input')
					.replaceWith($('.file-upload-input').clone());
			$('.file-upload-content').hide();
			$('.image-upload-wrap').show();
		}
		$('.image-upload-wrap').bind('dragover', function() {
			$('.image-upload-wrap').addClass('image-dropping');
		});
		$('.image-upload-wrap').bind('dragleave', function() {
			$('.image-upload-wrap').removeClass('image-dropping');
		});
	</script>

	<script>
		filterSelection("all")
		function filterSelection(c) {
			var x, i;
			x = document.getElementsByClassName("filterDiv");
			if (c == "all")
				c = "Clothings";
			for (i = 0; i < x.length; i++) {
				w3RemoveClass(x[i], "show");
				if (x[i].className.indexOf(c) > -1)
					w3AddClass(x[i], "show");
			}
		}

		function w3AddClass(element, name) {
			var i, arr1, arr2;
			arr1 = element.className.split(" ");
			arr2 = name.split(" ");
			for (i = 0; i < arr2.length; i++) {
				if (arr1.indexOf(arr2[i]) == -1) {
					element.className += " " + arr2[i];
				}
			}
		}

		function w3RemoveClass(element, name) {
			var i, arr1, arr2;
			arr1 = element.className.split(" ");
			arr2 = name.split(" ");
			for (i = 0; i < arr2.length; i++) {
				while (arr1.indexOf(arr2[i]) > -1) {
					arr1.splice(arr1.indexOf(arr2[i]), 1);
				}
			}
			element.className = arr1.join(" ");
		}

		// Add active class to the current button (highlight it)
		var btnContainer = document.getElementById("myBtnContainer");
		var btns = btnContainer.getElementsByClassName("btn");
		for (var i = 0; i < btns.length; i++) {
			btns[i].addEventListener("click", function() {
				var current = document.getElementsByClassName("active");
				current[0].className = current[0].className.replace(" active",
						"");
				this.className += " active";
			});
		}
	</script>
	<script>
		$('#blogCarousel').carousel({
			interval : 5000
		});
	</script>

	<script>
		$('.newbtn').bind("click", function() {
			$('#pic').click();
		});

		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#blah').attr('src', e.target.result);
				};

				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>

	<script th:src="@{/site/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/site/js/bootstrap.min.js}"></script>
	<script th:src="@{/site/js/jquery-ui.min.js}"></script>
	<script th:src="@{/site/js/jquery.countdown.min.js}"></script>
	<script th:src="@{/site/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/site/js/jquery.zoom.min.js}"></script>
	<script th:src="@{/site/js/jquery.dd.min.js}"></script>
	<script th:src="@{/site/js/jquery.slicknav.js}"></script>
	<script th:src="@{/site/js/owl.carousel.min.js}"></script>
	<script th:src="@{/site/js/main.js}"></script>
	<script th:src="@{/site/js/shopping-cart-app.js}"></script>
</body>
</html>