<!doctype html>
<html xmlns="http://www.thymeleaf.org" th:fragment="dynamic(view)">

<head>
<meta charset="UTF-8">
<meta name="description" content="Fashi Template">
<meta name="keywords" content="Fashi, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fashi | Template</title>

<!-- Google Font -->
<link
	href="
	https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap
	"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/site/css/bootstrap.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/font-awesome.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/themify-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/elegant-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/owl.carousel.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/nice-select.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/jquery-ui.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/slicknav.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/style.css}" type="text/css">
</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">


	<main>
		<header th:insert="~{/layout/_header.html :: header}"></header>
		<main th:replace="${view}"></main>
		<footer th:insert="~{/layout/_footer.html :: footer}"></footer>
	</main>

	<!-- Js Plugins -->


	<script>
		$(function() {
			$("#slider-range")
					.slider(
							{
								range : true,
								min : 0,
								max : 200,
								values : [ 0, 0 ],
								slide : function(event, ui) {
									$("#amount").val(
											"$" + ui.values[0] + " - $"
													+ ui.values[1]);
									$("#amount_start").val(ui.values[0]);
									$("#amount_end").val(ui.values[1]);
								}
							});
			/* $("#amount").val(
					"$" + $("#slider-range").slider("values", 0) + " - $"
							+ $("#slider-range").slider("values", 1)); */
		});

		function readURL(input) {
			if (input.files && input.files[0]) {

				var reader = new FileReader();

				reader.onload = function(e) {
					$('.image-upload-wrap').hide();

					$('.file-upload-image').attr('src', e.target.result);
					$('.file-upload-content').show();

					$('.image-title').html(input.files[0].name);
				};

				reader.readAsDataURL(input.files[0]);

			} else {
				removeUpload();
			}
		}

		function removeUpload() {
			$('.file-upload-input')
					.replaceWith($('.file-upload-input').clone());
			$('.file-upload-content').hide();
			$('.image-upload-wrap').show();
		}
		$('.image-upload-wrap').bind('dragover', function() {
			$('.image-upload-wrap').addClass('image-dropping');
		});
		$('.image-upload-wrap').bind('dragleave', function() {
			$('.image-upload-wrap').removeClass('image-dropping');
		});
	</script>
	<script th:src="@{/site/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/site/js/bootstrap.min.js}"></script>
	<script th:src="@{/site/js/jquery-ui.min.js}"></script>
	<script th:src="@{/site/js/jquery.countdown.min.js}"></script>
	<script th:src="@{/site/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/site/js/jquery.zoom.min.js}"></script>
	<script th:src="@{/site/js/jquery.dd.min.js}"></script>
	<script th:src="@{/site/js/jquery.slicknav.js}"></script>
	<script th:src="@{/site/js/owl.carousel.min.js}"></script>
	<script th:src="@{/site/js/main.js}"></script>
</body>
</html>
