<div class="card">
	<div class="card-header">
		<h3>List Order</h3><i class="fa fa-refresh" ng-click="initialize()" style="font-size:18px; position: absolute; right: 20px; top: 20px"> <span>Refresh</span> </i>
		<div class="col" style="position: relative;">
			<div class="form-group col-4">
				From :<input type="date" class="form-control" ng-model="statistic1.from1" />
			</div>
			<div class="form-group col-4" style="position: absolute; top: 0; right: 30%">
				To: <input type="date" class="form-control" ng-model="statistic1.to1" />
			</div>
			<button style="position: absolute; top: 38%	; right: 17%" ng-click="statistic1()" class="btn btn-primary">Search</button>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th scope="col">ID</th>
					<th scope="col">Username</th>
					<th scope="col">Fullname</th>
					<th scope="col">Phone</th>		
					<th scope="col">Create Date</th>
					<th scope="col">Address</th>
					<th scope="col">Status</th>
					<th style="position: relative;"><img
							style="width: 100px; height: 80px; position: absolute; top: -17px;"
							src="/assets/images/xenoel1.png" alt=""></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<th></th>
					<td>{{item.id}}</td>
					<td>{{item.account.username}}</td>
					<td>{{item.fullname}}</td>
					<td>{{item.phone}}</td>
					
					<td>{{item.createDate | date:'dd-MM-yyyy'}}</td>
					<td>{{item.address}}</td>
					<td ng:if="item.status==0" style="color: red;">Waiting for Confirm</td>
					<td ng:if="item.status==1"  style="color: orange;">Confirmed</td>
					<td ng:if="item.status==2"  style="color: blue;">Shipping</td>
					<td ng:if="item.status==3" style="color: green;">Complete</td>
					<td ng:if="item.status==4" style="color: red;">Cancel Order</td>
					
					<td>
						<div class="btn-group btn-group-xs" style="margin-left: 20px">
							<button type="button" class="btn btn-primary" ng-click="detail(item)">Detail</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of
			{{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
</div>