
<div class="card">
	<div class="card-header">
		<h3>List Order</h3>

	</div>
	<div class="card-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th scope="col">ID</th>
					<th scope="col">Username</th>
					<th scope="col">Fullname</th>
					<th scope="col">Phone</th>		
					<th scope="col">Create Date</th>
					<th scope="col">Address</th>
					<th scope="col">Status</th>
					<th style="position: relative;"><img
							style="width: 100px; height: 80px; position: absolute; top: -17px;"
							src="/assets/images/xenoel1.png" alt=""></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<th></th>
					<td>{{item.id}}</td>
					<td>{{item.account.username}}</td>
					<td>{{item.fullname}}</td>
					<td>{{item.phone}}</td>
					
					<td>{{item.createDate | date:'dd-MM-yyyy'}}</td>
					<td>{{item.address}}</td>
					<td ng:if="item.status==0" style="color: red;">Waiting for Confirm</td>
					<td ng:if="item.status==1"  style="color: orange;">Confirmed</td>
					<td ng:if="item.status==2"  style="color: blue;">Shipping</td>
					<td ng:if="item.status==3" style="color: green;">Complete</td>
					<td ng:if="item.status==4" style="color: red;"">Cancel Order</td>
					
					<td>
						<div class="btn-group btn-group-xs" style="margin-left: 20px">
							<button class="btn btn-primary" ng-click="detail(item)">Detail</button>
							<button class="btn btn-primary" ng-click="status(item)">Status</button>
							
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of
			{{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
	
	<!-- Modal của detail-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Detailing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		 <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      	<div class="card-header"><h3>Order ID: {{orderID}}</h3></div>
	<div class="card-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Image</th>
					<th scope="col">SKU</th>
					<th scope="col">Product Name</th>
					<th scope="col">Color - Size</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity</th>
					<th scope="col">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager2.ODitems">
					<td width="150px">
						<img ng-src="{{'/assets/images/' + item.productDetail.image}}" width="100%"/>
					</td>
					<td>{{item.productDetail.product.id}}</td>
					<td>{{item.productDetail.product.name}}</td>
					<td>{{item.productDetail.color.name}} - {{item.productDetail.size.name}}</td>
					<td>${{item.productDetail.product.price*(1-item.productDetail.product.discount*0.01)|number:2}}</td>
					<td>{{item.quantity}}</td>
					<td>${{item.quantity*item.productDetail.product.price*(1-item.productDetail.product.discount*0.01)|number:2}}</td>
				</tr>
			</tbody>
		</table>
	</div>
		<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager2.first()">First</button>
		<button class="btn btn-primary" ng-click="pager2.prev()">Prev</button>
		<button class="btn btn-success">{{pager2.page2+1}} of
			{{pager2.count}}</button>
		<button class="btn btn-primary" ng-click="pager2.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager2.last()">Last</button>
	</div>
    </div>
  </div>
</div>

</div>
	</div>
    </div>
  </div>
  
 
  <!-- Modal của detail-->
  
  <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Change Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        	<div class="card-body">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Order ID:</div>
						<input class="form-control" disabled="disabled" ng-model="form.id" />
					</div>
					<div class="form-group col-sm-6">
						<div>Create Date:</div>
						<input type="datetime" disabled="disabled" class="form-control"
							ng-model="form.createDate" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Phone:</div>
						<input class="form-control" disabled="disabled" ng-model="form.phone" />
					</div>
					<div class="form-group col-sm-6">
						<div>Address:</div>
						<input type="email" class="form-control" disabled="disabled" ng-model="form.address" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Username:</div>
						<input class="form-control" disabled="disabled" ng-model="form.account.username" />
					</div>
					<div class="form-group col-sm-6">
						<div>Status:</div>
						<input type="text" class="form-control" disabled="disabled" ng-model="form.status" />
					</div>

				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<div>Fullname:</div>
						<input style="text-align: center;" class="form-control" disabled="disabled" ng-model="form.fullname" />
					</div>
				</div>
				<div class="row">
					<div  ng-if="form.status==0">
							<label>Current Status:</label>
							<label style="color:red;"> Waiting Confirm</label> <br>
							<label>Next Status:</label>
							<label style="color: orange;"> Confirmed</label>		
					</div>
					
					<div  ng-if="form.status==1">
							<label>Current Status:</label>
						    <label style="color: orange;"> Confirmed</label> <br>
						    <label>Next Status:</label>
						    <label style="color: blue;"> Shipping</label>
					</div>
					
					<div  ng-if="form.status==2">
							<label>Current Status:</label>
							<label style="color: blue;"> Shipping</label> <br>
							<label>Next Status:</label>
							<label style="color: green;"> Complete</label>
								
					</div>
					<div  ng-if="form.status==3">
							<label style="color: green;"> Complete</label> <br>
							<label style="color: green;"> This order is successfully done!</label>
					</div>
					
					<div  ng-if="form.status==4">
							<label style="color: green;"> Cancel order</label> <br>
							<label style="color: green;"> This order is cancel by user!</label>
					</div>			
				</div>

			</div>
		</div>
	</div>
	<div class="card-footer" ng-if="form.status==0 || form.status==1 ||  form.status==2">
	<button class="btn btn-info"  ng-click="changeStatus()">Next status</button>
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>


