<div class="card">
	<div class="card-header">
		<button type="button" class="btn btn-secondary"
			ng-click="findbyDate()">Find by Date</button>
		<h3 class="noibacchu">List Order</h3>
		<i class="fa fa-refresh" ng-click="initialize()"
			style="font-size: 18px; position: absolute; right: 20px; top: 20px">
			<span>Show All</span>
		</i>
		<div class="col row pt-4">
			<div class="buttonorderstatus text-right">
				<button ng-click="findAllWaitingConfirm()" class="btn-primary btn">
					<i class="fa fa-shopping-basket "
						style="font-size: 20px; z-index: 1;"></i>Waiting Confirm
				</button>
				<button ng-click="findAllConfirmed()" class="btn-info btn">
					<i class="fa fa-gift" style="font-size: 20px"></i>Confirmed
				</button>
				<button ng-click="findAllShipping()" class="btn-warning btn">
					<i class="fa fa-truck p-0" style="font-size: 20px"></i>Shipping
				</button>
				<button ng-click="findAllComplete()" class="btn-success btn">
					<i class="fa fa-star-o  p-0" style="font-size: 20px"></i>Completed
				</button>
				<button ng-click="findAllCancelOrder()" class="btn-danger btn">
					<i class="fa fa-window-close-o  p-0" style="font-size: 20px"></i>Cancel
					Order
				</button>
			</div>

		</div>

		<!-- Modal Find By Date -->
		<div class="modal fade" id="findByDateModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="false">
			<div class="modal-dialog " role="document" style="max-width: 15%">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">Find
							Order By Date</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="">
							<div class="form-group">
								<input type="date" placeholder="dd-mm-yyyy" class="form-control"
									ng-model="statistic1.from1"  ng-change="validateFrom(statistic1.from1)" />
							</div>
							<div class="form-group">
								<input type="date" placeholder="dd-mm-yyyy" class="form-control"
									ng-model="statistic1.to1" ng-change="validateTo(statistic1.to1)" />
							</div>
							<button ng-click="statistic1()" ng-if="vForm == true && vTo == true && setTo > setFrom"
								class="btn btn-primary float-right">Search</button>
							<button ng-click="statistic1()" ng-if="vForm == false || vTo == false" disabled="disabled"
								class="btn btn-primary float-right">Search</button>
								
							<button ng-click="statistic1()"  ng-if="setTo < setFrom && vForm == true && vTo == true" disabled="disabled"
								class="btn btn-primary float-right">Search</button>
								
						</div>
					</div>
				</div>
			</div>
		</div>

		<style>
.buttonorderstatus i {
	margin-right: 5px;
}

.buttonorderstatus button {
	border: 0;
	border-radius: 12px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 2.5;
	outline: transparent;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	transition: box-shadow .2s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-align: center;
}
</style>
	</div>

	<div class="card-body">
		<div class="{{bg}} text-light py-2 text-center" ng-if="message"><h4>{{message}}</h4></div>
		<div class="bg-secondary text-light py-2 text-center" ng-if="message1"><h4>Find by Date: {{to| date:'dd/MM/yyyy'}} - {{from| date:'dd/MM/yyyy'}}</h4></div>
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th scope="col" width="15%">Order ID <br /> "View
						Detail"
					</th>
					<th scope="col" width="10%">Username Purchase</th>
					<th scope="col" width="10%">Fullname Receiver</th>
					<th scope="col" width="10%">Phone Receiver</th>
					<th scope="col" width="10%">Payment</th>
					
					<th scope="col" width="10%">Update Date</th>
					<th scope="col" width="10%">Address Receiver</th>
					<th scope="col" width="10%">Status Order</th>
					<th style="position: relative;" width="20%">Change Next Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<td ng-click="detail(item)"><a href="" class="btn btn-outline-primary">{{item.id}}</a></td>
					<td>{{item.account.username}}</td>
					<td>{{item.fullname}}</td>
					<td>{{item.phone}}</td>
					<td ng:if="item.payment==false"><span class="bg-warning text-light p-2" style="font-weight:bolder">COD</span></td>
					<td ng:if="item.payment==true"><span class="bg-info text-light p-2" style="font-weight:bolder">Paypal</span></td>	
					<td>{{item.createDate | date:'dd-MM-yyyy'}}</td>
					<td>{{item.address}}</td>
					<td ng:if="item.status==0" class="text-primary"
						style="font-weight: bolder">Waiting for Confirm</td>
					<td ng:if="item.status==1" class="text-info"
						style="font-weight: bolder">Confirmed</td>
					<td ng:if="item.status==2" class="text-warning"
						style="font-weight: bolder">To Ship</td>
					<td ng:if="item.status==3" class="text-success"
						style="font-weight: bolder">Complete</td>
					<td ng:if="item.status==4" class="text-danger"
						style="font-weight: bolder">Cancel Order</td>

					<td>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-info" style="margin-left: 5px"
								ng:if="item.status==0" ng-click="changeStatus(item)">Change
								To 'Comfirmed'</button>
							<button class="btn btn-warning" style="margin-left: 5px"
								ng:if="item.status==1" ng-click="changeStatus(item)">Change
								To 'Shipping'</button>
							<button class="btn btn-success" style="margin-left: 5px"
								ng:if="item.status==2" ng-click="changeStatus(item)">Change
								To 'Completed'</button>
							<div class="bg-danger text-light p-2" style="margin-left: 5px"
								ng:if="item.status==4 || item.status ==3">Not To Change</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="card-footer text-muted text-center">
			<button class="btn btn-primary" ng-click="pager.first()">First</button>
			<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
			<button class="btn btn-success">{{pager.page+1}} of
				{{pager.count}}</button>
			<button class="btn btn-primary" ng-click="pager.next()">Next</button>
			<button class="btn btn-primary" ng-click="pager.last()">Last</button>
		</div>
	</div>




	<!-- Modal của detail-->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-body">
				<div class="modal fade bd-example-modal-lg" tabindex="-1"
					role="dialog" aria-labelledby="myLargeModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="card-header bg-secondary text-light">
								<h5>{{order.status == 0 ? 'Waiting Confirm' : order.status == 1 ? 'Confirmed' : order.status == 2 ? 'To Ship' : order.status == 3 ? 'Completed' : 'Cancelled Order'}}</h5>
							</div>
							<div class="card-body py-1">
								<div class="row col pb-2 text-center">
									<div class="col-6">
										Order ID: <span style="font-weight: bolder">{{order.id}}</span><br />
										Order Purchases: <span style="font-weight: bolder">{{order.account.username}}</span><br />
										Quantity Items: <span style="font-weight: bolder">{{order.quantity}} Items</span><br />
										Total Bill: <span style="font-weight: bolder">${{order.total | number: 1}}</span><br />
									</div>
									<div class="col-6">
										Receiver Name: <span style="font-weight: bolder">{{order.fullname}}</span><br />
										Receiver Phone: <span style="font-weight: bolder">{{order.phone}}</span><br />
										Receiver Address: <span style="font-weight: bolder">{{order.address}}</span><br />
										Create Date: <span style="font-weight: bolder">{{order.createDate| date:'dd-MM-yyyy'}}</span><br />
									</div>
								</div>
								<table class="table table-striped text-center">
									<thead>
										<tr>
											<th scope="col">Image</th>
											<th scope="col">SKU</th>
											<th scope="col">Product Name</th>
											<th scope="col">Color - Size</th>
											<th scope="col">Price</th>
											<th scope="col">Quantity</th>
											<th scope="col">Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in pager2.ODitems">
											<td width="150px"><img
												ng-src="{{item.productDetail.image ? '/assets/images/' + item.productDetail.image : '/assets/images/5aa47c07.png'}}"
												width="100%" /></td>
											<td>{{item.productDetail.product.id}}</td>
											<td>{{item.productDetail.product.name}}</td>
											<td>{{item.productDetail.color.name}} -
												{{item.productDetail.size.name}}</td>
											<td>${{item.productDetail.product.price*(1-item.productDetail.product.discount*0.01)|number:1}}
											</td>
											<td>{{item.quantity}}</td>
											<td>${{item.quantity*item.productDetail.product.price*(1-item.productDetail.product.discount*0.01)|number:1}}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer text-muted text-center">
								<button class="btn btn-primary" ng-click="pager2.first()">First</button>
								<button class="btn btn-primary" ng-click="pager2.prev()">Prev</button>
								<button class="btn btn-success">{{pager2.page2+1}} of
									{{pager2.count}}</button>
								<button class="btn btn-primary" ng-click="pager2.next()">Next</button>
								<button class="btn btn-primary" ng-click="pager2.last()">Last</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal của detail-->
	<div class="modal fade" id="exampleModalCenter1" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle1"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document"
			style="max-width: 40%">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle1">Change
						Status</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Order ID:</div>
										<input class="form-control" disabled="disabled"
											ng-model="form.id" />
									</div>
									<div class="form-group col-sm-6">
										<div>Create Date:</div>
										<input type="datetime" disabled="disabled"
											class="form-control" ng-model="form.createDate" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Phone:</div>
										<input class="form-control" disabled="disabled"
											ng-model="form.phone" />
									</div>
									<div class="form-group col-sm-6">
										<div>Address:</div>
										<input type="email" class="form-control" disabled="disabled"
											ng-model="form.address" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Username:</div>
										<input class="form-control" disabled="disabled"
											ng-model="form.account.username" />
									</div>
									<div class="form-group col-sm-6">
										<div>Status:</div>
										<input type="text" class="form-control" disabled="disabled"
											ng-model="form.status" />
									</div>

								</div>
								<div class="row">
									<div class="form-group col-sm-12">
										<div>Fullname:</div>
										<input style="text-align: center;" class="form-control"
											disabled="disabled" ng-model="form.fullname" />
									</div>
								</div>
								<div class="row">
									<div ng-if="form.status==0">
										<label>Current Status:</label> <label style="color: red;">
											Waiting Confirm</label> <br> <label>Next Status:</label> <label
											style="color: orange;"> Confirmed</label>
									</div>

									<div ng-if="form.status==1">
										<label>Current Status:</label> <label style="color: orange;">
											Confirmed</label> <br> <label>Next Status:</label> <label
											style="color: blue;"> Shipping</label>
									</div>

									<div ng-if="form.status==2">
										<label>Current Status:</label> <label style="color: blue;">
											Shipping</label> <br> <label>Next Status:</label> <label
											style="color: green;"> Complete</label>

									</div>
									<div ng-if="form.status==3">
										<label style="color: green;"> Complete</label> <br> <label
											style="color: green;"> This order is successfully
											done!</label>
									</div>

									<div ng-if="form.status==4">
										<label style="color: green;"> Cancel order</label> <br> <label
											style="color: green;"> This order is cancel by user!</label>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="card-footer"
						ng-if="form.status==0 || form.status==1 ||  form.status==2">
						<button class="btn btn-info" ng-click="changeStatus()">Next
							status</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- No Data Modal -->
<div class="modal fade" id="NoDataModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
      	<img ng-src="{{'/assets/images/nodata_1.png'}}" class="border" alt="" height="300px"/>
      </div>
    </div>
  </div>
</div>