<style>
	@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

	.nen {
		position: relative;
		background-color: #34495e;
	}

	.nen .nav {
		position: relative;
		width: 60%;
		height: 50px;
		background: #34495e;
		font-size: 0;
	}

	.nen .nav li a {
		font-size: 15px;
		text-transform: uppercase;
		color: white;
		text-decoration: none;
		position: relative;
		z-index: 1;
		display: inline-block;
		text-align: center;
		margin-top: 8px;
	}

	.nen .nav .animation {
		position: absolute;
		height: 100%;
		/* height: 5px; */
		top: 0;
		/* bottom: 0; */
		z-index: 0;
		background: #1abc9c;
		transition: all .5s ease 0s;
	}

	.nen .nav li a:nth-child(1) {
		width: 180px;
		text-align: center;
	}

	.nen .nav a:nth-child(1):hover~.animation {
		width: 180px;
		left: 0;
	}

	.nen .nav li a:nth-child(2) {
		width: 180px;
	}

	.nen .nav li a:nth-child(2):hover~.animation {
		width: 180px;
		left: 180px;
	}

	.my-2 {
		margin-left: 20px;
	}

	.search-box1 {
		position: absolute;
		top: 50%;
		right: 0px;
		transform: translate(-10%, -50%);
		background: #2f3640;
		height: 40px;
		border-radius: 40px;
		padding-left: 5px;
		padding-right: 10px;
		z-index: 10;
	}

	.search-box1:hover>.search-txt1 {
		width: 240px;
		padding: 0 6px;
	}

	.search-box1:hover>.search-btn1 {
		background: white;

	}

	.search-btn1 {
		color: #1abc9c;
		float: right;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #2f3640;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		margin: 5px;
		margin-right: 0px;
	}

	.search-txt1 {
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: white;
		font-size: 16px;
		transition: 0.4s;
		line-height: 40px;
		width: 0;


	}
</style>
<div class="huan">
	<div class="nen">
		<ul class="nav" id="myTab" role="tablist">
			<li class="col-sm-10">
				<a class="nav-link" id="home-tab" data-toggle="tab" data-target="#edit" role="tab" aria-controls="home"
					aria-selected="true">
					Order List</a>

			</li>

		</ul>
		<div class="search-box1">
			<input class="search-txt1" name="" type="text" id="myInput" class="form-control" ng-model="statistic.from"
				placeholder="Search	" />
			<a class="search-btn1">
				<button style="opacity:0 ; z-index: 20" ng-click="statistic()"></button><i style="position: absolute;"
					class="fa fa-search"></i>
			</a>


		</div>


	</div>



	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="home-tab">
			<div ng-include="'/assets/admin/orderstatus/_table.html'"></div>
		</div>
		<div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="profile-tab">
			<div class="" ng-include="'/assets/admin/orderstatus/_ODtable.html'"></div>
		</div>

	</div>
</div>