<div class="card" style=" margin: 20px auto; width: 80%">
	<div class="card-header" style="background: #34495e; color: white;"><h5>Authorizing</h5></div>
	<div class="card-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Full name</th>
					<th scope="col" ng-repeat="role in roles" class="text-center">{{role.name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="acc in admins">
					<th scope="row">{{acc.fullname}}</th>
					<td ng-repeat="role in roles" class="text-center">
						<input type="checkbox" ng-checked="authority_of(acc, role)"
							ng-click="authority_changed(acc, role)"/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
