<div class="card">
	<div class="card-header bg-info text-light"><h5>Authorizing</h5></div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col" ng-repeat="role in roles" class="text-center">{{role.name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="acc in admins">
					<th scope="row">{{acc.fullname}}</th>
					<td ng-repeat="role in roles" class="text-center">
						<input type="checkbox" ng-checked="authority_of(acc, role)"
							ng-click="authority_changed(acc, role)"/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
