<div class="card">
	<div class="card-header">
		<div class="row">
			<h3 class="noibacchu pl-2 ">List Category</h3>
			<i ng-click="initialize()" class="fa fa-refresh"
				style="font-size: 18px; position: absolute; right: 20px; top: 20px">
				<span>Show All</span>
			</i>
		</div>
		<div class="row pt-3">
			<div class="col-2">
				<button class="btn btn-outline-warning"
					style="width: 100%; font-weight: bolder" ng-click="topCategory()">Top
					Category</button>
			</div>
			<div class="col-2">
				<button class="btn btn-outline-primary"
					style="width: 100%; font-weight: bolder"
					ng-click="inventoryProduct()">Inventory Product</button>
			</div>
		</div>
	</div>

	<div class="card-body">
		<div class="p-2 bg-secondary text-light col px-0 py-1 text-center" ng-show="message">
				<h3 style="font-weight: bolder">{{message}}</h3>
			</div>
		<table class="table table-striped text-center">
			<thead>
				<tr style="position: relative;">
					<th style="width: 10%"></th>
					<th style="width: 25%" scope="col">ID</th>
					<th style="width: 25%" scope="col">Name <br />(Click to view
						Product)
					</th>
					<th style="width: 25%"></th>
					<th style="width: 10%"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<th></th>
					<td>{{item.id}}</td>
					<td style="width: 250px"><a class="btn btn-outline-primary" ng-click="viewProductToCate(item)"
						href="">{{item.name}}</a></td>
					<td>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-warning mgr5px" ng-click="edit(item)">Edit</button>
							<button class="btn btn-danger" ng-click="delete(item)">Delete</button>
						</div>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of
			{{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header bg-success text-light py-0">
				<div class="col row py-2">
					<h5>Product Of Category : <span
							style="text-transform: uppercase; font-weight: bolder">{{category.name}}</span></h5>
					<h5 class="px-5">Inventory: <span
							style="text-transform: uppercase; font-weight: bolder">{{sumProInCate}} Item</span></h5>
					<a type="button" class="close text-light pt-3 pr-0"  data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</a>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th width="10%" scope="col">Image</th>
							<th width="3%" scope="col">ID</th>
							<th width="10%" scope="col">Name <br />(Click to view
								Details)
							</th>
							<th width="10%" scope="col">Price</th>
							<th width="10%" scope="col">Discount</th>
							<th width="10%" scope="col">Gender</th>
							<th width="10%" scope="col">Brand</th>
							<th width="10%" scope="col">Available</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager2.ProCateItems">
							<td width="100px"><img
								ng-src="{{'/assets/images/' + item.image}}" width="100%" /></td>
							<td>{{item.id}}</td>
							<td style="max-width: 250px"><a href=""
								ng-click="proDetail(item)" class="btn btn-outline-primary">{{item.name}}</a></td>
							<td>{{item.price | number:1}}</td>
							<td>{{item.discount}}%</td>
							<td>{{item.gender.name}}</td>
							<td>{{item.brand.name}}</td>
							<td>{{item.available}}</td>

						</tr>
					</tbody>
				</table>
				<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pager2.first()">First</button>
					<button class="btn btn-primary" ng-click="pager2.prev()">Prev</button>
					<button class="btn btn-success">{{pager2.page+1}} of
						{{pager2.count}}</button>
					<button class="btn btn-primary" ng-click="pager2.next()">Next</button>
					<button class="btn btn-primary" ng-click="pager2.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Top Category-->
<div class="modal fade" id="TopCategoryModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 40%">
		<div class="modal-content">
			<div class="modal-header bg-success text-light py-0">
				<div class="col row py-2">
					<h5>Top Category</h5>
					<a type="button" class="close text-light pt-3 pr-0"  data-dismiss="modal" ng-click="closeOrderDetail()"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</a>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th style="width: 10%"></th>
							<th style="width: 25%" scope="col">ID</th>
							<th style="width: 25%" scope="col">Name <br />(Click to
								view Product)
							</th>
							<th>Seller</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerProCate.tops">
							<th></th>
							<td>{{item.category.id}}</td>
							<td style="width: 250px"><a href="" class="btn btn-outline-primary" ng-click="viewProductTopCate(item.category)">{{item.category.name}}</a></td>
							<td>{{item.seller}}</td>
						</tr>
					</tbody>
				</table>
					<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerProCate.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerProCate.prev()">Prev</button>
					<button class="btn btn-success">{{pagerProCate.page+1}} of
						{{pagerProCate.count}}</button>
					<button class="btn btn-primary" ng-click="pagerProCate.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerProCate.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Inventory Category-->
<div class="modal fade" id="InventoryCategoryModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header bg-success text-light py-0">
				<div class="col row py-2">
					<h5>Inventory Category</h5>
					<a type="button" class="close text-light pt-3 pr-0"  data-dismiss="modal" ng-click="closeOrderDetail()"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</a>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th style="width: 10%"></th>
							<th style="width: 25%" scope="col">ID</th>
							<th style="width: 25%" scope="col">Name <br />(Click to
								view Product)
							</th>
							<th>Inventory</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerInventory.inventories">
							<th></th>
							<td>{{item.category.id}}</td>
							<td style="width: 250px"><a href="" class="btn btn-outline-primary" ng-click="viewProductToCate(item.category)">{{item.category.name}}</a></td>
							<td>{{item.inventory}}</td>
						</tr>
					</tbody>
				</table>
					<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerInventory.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerInventory.prev()">Prev</button>
					<button class="btn btn-success">{{pagerInventory.page+1}} of
						{{pagerInventory.count}}</button>
					<button class="btn btn-primary" ng-click="pagerInventory.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerInventory.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>



<!--Product Detail-->
<div class="modal fade" id="ProDetailModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header bg-success text-light py-0">
				<div class="col row py-2">
					<h5>Proudct ID: <span
							style="text-transform: uppercase; font-weight: bolder">{{product.id}}</span>
					</h5>
					<h5 class="px-5">Proudct Name: <span
							style="text-transform: uppercase; font-weight: bolder">{{product.name}}</span>
					</h5>
					<a type="button" class="close text-light pt-3 pr-0"  data-dismiss="modal" ng-click="closeOrderDetail()"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</a>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th scope="col">Image</th>
							<th scope="col">Color</th>
							<th scope="col">Size</th>
							<th scope="col">Quantity</th>
							<th scope="col">Create Date</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerProDet.ProDetailitems">
							<td width="150px"><img
								ng-src="{{'/assets/images/' + item.image}}" width="100%" /></td>
							<td>{{item.color.name}}</td>
							<td>{{item.size.name}}</td>
							<td ng-init="$parent.totalPro = $parent.totalPro + item.quantity">{{item.quantity}}</td>
							<td>{{item.createDate | date:'dd-MM-yyyy'}}</td>
						</tr>
					</tbody>
				</table>
				<div class="text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerProDet.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerProDet.prev()">Prev</button>
					<button class="btn btn-success">{{pagerProDet.page+1}} of
						{{pagerProDet.count}}</button>
					<button class="btn btn-primary" ng-click="pagerProDet.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerProDet.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Product In Top Category-->
<div class="modal fade" id="ProductTopCatelModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header bg-success text-light py-0">
				<div class="col row py-2">
					<h5>Category: <span
							style="text-transform: uppercase; font-weight: bolder">{{category.name}}</span></h5>
					<a type="button" class="close text-light pt-3 pr-0"  data-dismiss="modal" ng-click="closeOrderDetail()"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</a>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th scope="col">Image</th>
							<th scope="col">Product ID</th>
							<th scope="col">Product Name</th>
							<th scope="col">Price</th>
							<th scope="col">Discount</th>
							<th scope="col">Gender</th>
							<th scope="col">Brand</th>
							<th scope="col">Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerProTopCate.ProTopCateItems">
							<td width="150px"><img
								ng-src="{{'/assets/images/' + item.product.image}}" width="100%" /></td>
							<td>{{item.product.id}}</td>
							<td>{{item.product.name}}</td>
							<td>{{item.product.price}}</td>
							<td>{{item.product.discount}}</td>
							<td>{{item.product.gender.name}}</td>
							<td>{{item.product.brand.name}}</td>
							<td>{{item.value}}</td>
						</tr>
					</tbody>
				</table>
				<div class="text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerProTopCate.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerProTopCate.prev()">Prev</button>
					<button class="btn btn-success">{{pagerProTopCate.page+1}} of
						{{pagerProTopCate.count}}</button>
					<button class="btn btn-primary" ng-click="pagerProTopCate.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerProTopCate.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- No Data Modal -->
<div class="modal fade" id="NoDataModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
      	<img ng-src="{{'/assets/images/nodata_1.png'}}" class="border" alt="" height="300px"/>
      </div>
    </div>
  </div>
</div>