<div class="card ">
	<div class="card-header">
		<h3 class="noibacchu">Color Edition</h3>
		<i class="fa fa-refresh "  ng-click="reset()"
			style="font-size: 18px; position: absolute; right: 20px; top: 20px">
			<span>Create New</span>
		</i>
	</div>
	<div class="card-body">
		<div class="row col">
			<div class="file-upload col-4">
				<div class="image-upload-wrap">
					<input class="file-upload-input" type="file" accept="image/*" name="image" id="file"
						onchange="readURL(this); loadFile(event)"/>
					<div class="drag-text">
						<img class="img-fluid p-2"
							ng-src="{{form.image ? '/assets/images/' + form.image : '/assets/images/5aa47c07.png' }}"
							alt="your image" id="img" />
						<h5>Drag and drop a file or select add Image</h5>
					</div>
					<div id="status" hidden="hidden"></div>
				</div>
				<div class="file-upload-content">
					<canvas id="canvas" width="357px" height="437px" class="border"></canvas>
					<div class="image-title-wrap">
						<button type="button" onclick="removeUpload()"
							class="remove-image">
							Remove <span class="image-title">Uploaded Image</span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="form-group">
					<input class="form-control" disabled="disabled" ng-model="form.id" hidden="hidden"/>
				</div>
				<div class="row pb-2">
					<div class="col-6">
						<div class="row pl-2" style="height: 21px;">New Color: <p style="height: 21px;">&nbsp</p><p id="show2" class="pr-2 m-0" style="height: 21px;"></p></div>
						<div id="color" style="height: 35px;"></div>
					</div>
					<div class="col-6">
						<div style="height: 21px;">{{oldColor}}</div>
						<div class="mr-0" style="background-color: rgb({{form.red}},{{form.green}},{{form.blue}}); height: 35px;"></div>
					</div>
				</div>
				<div class="form-group pt-1">
					<div>Name:</div>
					<input class="form-control"  ng-model="form.name" ng-change="ValidateName(form.name)" required=""/>
					<label style="color: red;">{{message1}}</label>
				</div>
				<div class="form-group">
					<div>Red:</div>
					<input class="form-control" ng-model="form.red" id="red" ng-change="ValidateRed(form.red)" 
						value="red" required=""/>
					<label style="color: red;">{{message2}}</label>
						
				</div>
				<div class="form-group">
					<div>Green:</div>
					<input class="form-control" ng-model="form.green" id="green" ng-change="ValidateGreen(form.green)"
						value="green" required=""  />
						<label style="color: red;">{{message3}}</label>
						
				</div>
				<div class="form-group">
					<div>Blue:</div>
					<input class="form-control" ng-model="form.blue" id="blue" ng-change="ValidateBlue(form.blue)"
						value="blue" required=""/>
					<label style="color: red;">{{message4}}</label>
						
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer text-muted borbot text-center">
		<div ng-if="isEdit == null" class="row">
			<button ng-if="vName == true && vRed == true && vBlue == true && vGreen == true" ng-click="create()" class="btn btn-success offset-3 col-3 mr-2" style="font-weight:bolder" onclick="removeUpload()">Create</button>
			<button ng-if="vName == false || vRed == false || vBlue == false || vGreen == false" disabled="disabled" ng-click="create()" class="btn btn-success offset-3 col-3 mr-2" style="font-weight:bolder" onclick="removeUpload()">Create</button>
			
			<button ng-click="reset()" class="btn btn-info col-3 ml-2" style="font-weight:bolder">Reset</button>
		</div>
		<div ng-if="isEdit == 'true'"  class="row">
			<button ng-if="vName == true && vRed == true && vBlue == true && vGreen == true" ng-click="update(item)" class="btn btn-warning offset-3 col-3 mr-2" style="font-weight:bolder" onclick="removeUpload()">Update</button>
			<button ng-if="vName == false || vRed == false || vBlue == false || vGreen == false" disabled="disabled" ng-click="update(item)" class="btn btn-warning offset-3 col-3 mr-2" style="font-weight:bolder" onclick="removeUpload()">Update</button>
		
			<button class="btn btn-danger col-3 ml-2" style="font-weight:bolder" ng-click="delete(form)">Delete</button>
		</div>
	</div>
</div>
