<div class="card">
	<div class="card-header">
		<h3 class="noibacchu">List Color</h3>
		<i class="fa fa-refresh " ng-click="initialize()"
			style="font-size: 18px; position: absolute; right: 20px; top: 20px">
			<span>Show All</span>
		</i>
					<div class="row pt-3">
			<div class="col-2">
				<button class="btn btn-outline-warning"
					style="width: 100%; font-weight: bolder" ng-click="topColor()">Top
					Color</button>
			</div>
			<div class="col-2">
				<button class="btn btn-outline-primary"
					style="width: 100%; font-weight: bolder"
					ng-click="inventoryColor()">Inventory Color</button>
			</div>
		</div>
		
	</div>

	<div class="card-body">
		<div class="p-2 bg-secondary text-light col px-0 py-1 text-center" ng-show="message">
				<h3 style="font-weight: bolder">{{message}}</h3>
		</div>
		<table class="table table-striped text-center">
			<thead>
				<tr style="position: relative;">
					<th></th><th></th>
					<th></th>
					<th scope="col">ID</th>
					<th scope="col">Name <br />(Click to view Product)</th>
					<th scope="col">Red</th>
					<th scope="col">Green</th>
					<th scope="col">Blue</th>
					<th></th><th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<th></th><th></th><th></th>
					<td>{{item.id}}</td>
					<td style="width: 250px"><a class="btn text-light" style="background-color:rgb({{item.red}}, {{item.green}}, {{item.blue}})" ng-click="viewProductFromColor(item)"
						href="">{{item.name}}</a></td>
					<td>{{item.red}}</td>
					<td>{{item.green}}</td>
					<td>{{item.blue}}</td>
					<td>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-warning mgr5px" ng-click="edit(item)">Edit</button>
							<button class="btn btn-danger" ng-click="delete(item)">Delete</button>
						</div>
					</td>
					<th></th><th></th>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of
			{{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="ProductModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header" style="background-color: {{rgb}}">
				<h5 class="modal-title text-light" id="exampleModalLongTitle">Product In {{color.name}}: {{countPro}} Products</h5>
				<h5 class="modal-title text-light px-5" id="exampleModalLongTitle">Sum Inventory: {{sumProDet}} {{sumProDet>1 ? 'Items' : 'Item'}}</h5>
				<button type="button" class="close text-light" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th scope="col">Image</th>
							<th scope="col">ID</th>
							<th scope="col">Name <br />(Click to View Details)</th>
							<th scope="col">Price</th>
							<th scope="col">Discount</th>
							<th scope="col">Category</th>
							<th scope="col">Brand</th>
							<th scope="col">Genrder</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager2.ProCateItems">
							<td width="100px"><img
								ng-src="{{item.product.image ? '/assets/images/' + item.product.image : '/assets/images/5aa47c07.png'}}" width="100%" /></td>
							<td>{{item.product.id}}</td>
							<td style="max-width: 250px"><a href="" ng-click="viewProDetail(item.product)" class="btn btn-outline-primary">{{item.product.name}}</a></td>
							<td>${{item.product.price}}</td>
							<td>{{item.product.discount}}%</td>
							<td>{{item.product.category.name}}</td>
							<td>{{item.product.brand.name}}</td>
							<td>{{item.product.gender.name}}</td>
						</tr>
					</tbody>
				</table>
				<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pager2.first()">First</button>
					<button class="btn btn-primary" ng-click="pager2.prev()">Prev</button>
					<button class="btn btn-success">{{pager2.page+1}} of
						{{pager2.count}}</button>
					<button class="btn btn-primary" ng-click="pager2.next()">Next</button>
					<button class="btn btn-primary" ng-click="pager2.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Product Detail-->
<div class="modal fade" id="productDetailModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header bg-secondary text-light">
				<h5>Product ID: <span>{{product.id}}</span></h5>
				<h5 class="pl-5">Product Name: <span>{{product.name}}</span></h5>
				<h5 class="pl-5">Count Product: <span>{{countProDet}} {{countProDet>1 ? 'Items' : 'Item'}}</span></h5>
				<h5 class="pl-5">Sum Inventory: <span>{{countProDetail}} {{countProDetail>1 ? 'Items' : 'Item'}}</span></h5>
				<button type="button" class="close text-light" data-dismiss="modal" ng-click="CloseProDetail()"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th scope="col">Image</th>
							<th scope="col">Color</th>
							<th scope="col">Size</th>
							<th scope="col">Quantity</th>
							<th scope="col">Create Date</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerProDet.ProDetailitems">
							<td width="150px"><img
								ng-src="{{item.image ? '/assets/images/' + item.image : '/assets/images/5aa47c07.png'}}" width="100%" /></td>
							<td><span class="p-2 text-light" style="background-color:rgb({{item.color.red}}, {{item.color.green}}, {{item.color.blue}})">{{item.color.name}}</span></td>
							<td>{{item.size.name}}</td>
							<td ng-init="$parent.totalPro = $parent.totalPro + item.quantity">{{item.quantity}} {{item.quantity>1?'Items':'Item'}}</td>
							<td>{{item.createDate | date:'dd-MM-yyyy'}}</td>
						</tr>
					</tbody>
				</table>
				<div class="text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerProDet.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerProDet.prev()">Prev</button>
					<button class="btn btn-success">{{pagerProDet.page+1}} of
						{{pagerProDet.count}}</button>
					<button class="btn btn-primary" ng-click="pagerProDet.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerProDet.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Top Color-->
<div class="modal fade" id="TopColorModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 40%">
		<div class="modal-content">
			<div class="modal-header bg-secondary text-light">
				<h5 class="modal-title" id="exampleModalLongTitleBrand">Top Color</h5>
				<button type="button" class="close text-light" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th style="width: 10%"></th>
							<th style="width: 25%" scope="col">ID</th>
							<th style="width: 25%" scope="col">Name <br />(Click to
								view Product)
							</th>
							<th>Seller</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pagerTopColor.tops">
							<th></th>
							<td>{{item.color.id}}</td>
							<td style="width: 250px"><a href="" class="btn text-light"  style="background-color:rgb({{item.color.red}}, {{item.color.green}}, {{item.color.blue}})" ng-click="viewProductToColorTrenTop(item.color)">{{item.color.name}}</a></td>
							<td>{{item.seller}} {{item.seller>1?'Items':'Item'}}</td>
						</tr>
					</tbody>
				</table>
					<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pagerTopColor.first()">First</button>
					<button class="btn btn-primary" ng-click="pagerTopColor.prev()">Prev</button>
					<button class="btn btn-success">{{pagerTopColor.page+1}} of
						{{pagerTopColor.count}}</button>
					<button class="btn btn-primary" ng-click="pagerTopColor.next()">Next</button>
					<button class="btn btn-primary" ng-click="pagerTopColor.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="testModalCenterColor" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header text-light" style="background-color:rgb({{color.red}}, {{color.green}}, {{color.blue}})">
				<h5 class="modal-title" id="exampleModalLongTitleBrand">Product Detail Of
					Color : {{color.name}}</h5>
				<button type="button" class="close" data-dismiss="modal" ng-click="closeProductTop()"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th scope="col">Image</th>
							<th scope="col">Product ID</th>
							<th scope="col">Product Name</th>
							<th scope="col">Price</th>
							<th scope="col">Discount</th>
							<th scope="col">Gender</th>
							<th scope="col">Brand</th>
							<th scope="col">Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager3.ProColorItems">
							<td width="150px"><img
								ng-src="{{item.product.image ? '/assets/images/' + item.product.image : '/assets/images/5aa47c07.png'}}" width="100%" /></td>
							<td>{{item.product.id}}</td>
							<td>{{item.product.name}}</td>
							<td>${{item.product.price}}</td>
							<td>{{item.product.discount}}%</td>
							<td>{{item.product.gender.name}}</td>
							<td>{{item.product.brand.name}}</td>
							<td>{{item.value}} {{item.value>1?'Items':'Item'}}</td>
						</tr>
					</tbody>
				</table>
				<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="pager3.first()">First</button>
					<button class="btn btn-primary" ng-click="pager3.prev()">Prev</button>
					<button class="btn btn-success">{{pager3.page+1}} of
						{{pager3.count}}</button>
					<button class="btn btn-primary" ng-click="pager3.next()">Next</button>
					<button class="btn btn-primary" ng-click="pager3.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Inventory Category-->
<div class="modal fade" id="InventoryColorModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 40%">
		<div class="modal-content">
			<div class="modal-header bg-secondary text-light">
				<h5 class="modal-title" id="exampleModalLongTitleBrand">Inventory Product</h5>
				<button type="button" class="close text-light" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th style="width: 10%"></th>
							<th style="width: 25%" scope="col">ID</th>
							<th style="width: 25%" scope="col">Name <br />(Click to
								view Product)
							</th>
							<th>Inventory</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in InventoryColorModalCenter.inventories">
							<th></th>
							<td>{{item.color.id}}</td>
							<td style="width: 250px"><a href="" class="btn text-light" style="background-color:rgb({{item.color.red}}, {{item.color.green}}, {{item.color.blue}})"  ng-click="viewProductFromColor(item.color)">{{item.color.name}}</a></td>
							<td>{{item.inventory}} {{item.inventory>1?'Items':'Item'}}</td>
						</tr>
					</tbody>
				</table>
						<div class="card-footer text-muted text-center">
					<button class="btn btn-primary" ng-click="InventoryColorModalCenter.first()">First</button>
					<button class="btn btn-primary" ng-click="InventoryColorModalCenter.prev()">Prev</button>
					<button class="btn btn-success">{{InventoryColorModalCenter.page+1}} of
						{{InventoryColorModalCenter.count}}</button>
					<button class="btn btn-primary" ng-click="InventoryColorModalCenter.next()">Next</button>
					<button class="btn btn-primary" ng-click="InventoryColorModalCenter.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- No Data Modal -->
<div class="modal fade" id="NoDataModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
      	<img ng-src="{{'/assets/images/nodata_1.png'}}" class="border" alt="" height="300px"/>
      </div>
    </div>
  </div>
</div>