<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<main>
		<!-- Breadcrumb Section Begin -->
		<div class="breacrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text product-more">
							<a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a> <span>Shopping
								Cart</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Section Begin -->

		<!-- Shopping Cart Section Begin -->
		<section class="shopping-cart spad">
			<div class="container" th:fragment="shopping_cart">
				<div class="row">
					<div class="col-lg-12">
						<div class="cart-table">
							<table style="width: 100%;">
								<thead>
									<tr>
										<th>Image</th>
										<th>Product</th>
										<th>Price</th>
										<th>Size - Color</th>
										<th style="width: 20%">Quantity</th>
										<th>Total</th>
										<th><a ng-click="cart.clear()"><i class="ti-close"></i></a></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in cart.items">
										<td class="cart-pic first-row"><img
											src="/assets/images/{{item.image}}" width="110px"
											height="120px"></td>
										<td class="cart-title first-row">
											<h5>{{item.product.name}}</h5>
										</td>
										<td class="p-price first-row">
											${{item.product.price*(1-item.product.discount*0.01)|number:1}}
											<div
												style="text-decoration: line-through; font-size: 14px; color: rgb(224, 224, 224);">
												${{item.product.price}}</div>
										</td>
										<td class="p-price first-row text-dark">{{item.size.name}}
											- {{item.color.name}}</td>
										<td>
											<div class="pt-4 text-center">
												<div class="col-6 row offset-3 border px-0 py-2">
													<div class="col-4 p-0">
														<a th:attr="ng-click=@{|cart.subcart(item.id)|}"> <i
															class="ti-minus"></i>
														</a>
													</div>
													<div
														style="margin: 0 auto; padding-left: 5px; padding-right: 5px;"
														class="col-4 text-center">{{item.qty}}</div>
													<div class="col-4 p-0">
														<a th:attr="ng-click=@{|cart.addcart(item.id)|}"> <i
															class="ti-plus"></i>
														</a>
													</div>
												</div>
											</div>
										</td>
										<td class="total-price first-row">
											${{item.qty*item.product.price*(1-item.product.discount*0.01)|number:1}}</td>
										<td class="close-td first-row"><i class="ti-close"
											ng-click="cart.remove(item.id)"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<div class="cart-buttons">
									<a th:href="@{/product/listall}" class="primary-btn up-cart">Continue
										shopping</a> <a ng-click="cart.clear()"
										class="primary-btn up-cart">Clear cart</a>
								</div>
								<div class="discount-coupon">
									<h6>Discount Codes</h6>
									<form action="#" class="coupon-form">
										<input type="text" placeholder="Enter your codes">
										<button type="submit" class="site-btn coupon-btn">Apply</button>
									</form>
								</div>
							</div>
							<div class="col-lg-4 offset-lg-4">
								<div class="proceed-checkout">
									<ul>
										<li class="subtotal">Subtotal <span>$0.0</span></li>
										<li class="cart-total">Total <span>${{cart.amount|number:1}}</span></li>
									</ul>
									<div ng-repeat="item in cart.items" ng:show="$index == 0">
										<div ng-if="!item.view">
											<th:block th:if="${#request.remoteUser}">
												<a th:href="@{/order/checkout}" class="proceed-btn">PROCEED
													TO CHECK OUT</a>
											</th:block>
											<th:block th:unless="${#request.remoteUser}">
												<a th:href="@{/order/checkout}" data-toggle="modal"
													data-target="#loginModalCenter" class="proceed-btn">PROCEED
													TO CHECK OUT</a>
											</th:block>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shopping Cart Section End -->

	</main>
</body>

</html>