<!doctype html>
<html xmlns="http://www.thymeleaf.org" th:fragment="dynamic(view)">

<head>
<meta charset="UTF-8">
<meta name="description" content="Fashi Template">
<meta name="keywords" content="Fashi, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fashi | Template</title>

<!-- Google Font -->
<link href="
	https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap
	" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/site/css/bootstrap.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/font-awesome.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/themify-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/elegant-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/owl.carousel.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/nice-select.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/jquery-ui.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/slicknav.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/site/css/style.css}" type="text/css">
</head>
<body>
	<main>
		<header th:insert="~{/fragments/header.html :: header}"></header>	
		<main th:replace="${view}"></main>
		<footer th:insert="~{/fragments/footer.html :: footer}"></footer>
	</main>

	<!-- Js Plugins -->
	<script th:src="@{/site/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/site/js/bootstrap.min.js}"></script>
	<script th:src="@{/site/js/jquery-ui.min.js}"></script>
	<script th:src="@{/site/js/jquery.countdown.min.js}"></script>
	<script th:src="@{/site/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/site/js/jquery.zoom.min.js}"></script>
	<script th:src="@{/site/js/jquery.dd.min.js}"></script>
	<script th:src="@{/site/js/jquery.slicknav.js}"></script>
	<script th:src="@{/site/js/owl.carousel.min.js}"></script>
	<script th:src="@{/site/js/main.js}"></script>
</body>
</html>
