<!doctype html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/dashboardLayout :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a href="#"><i class="fa fa-home"></i> Home</a> <span>Order Detail</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section Begin -->


	<!-- Shopping Cart Section Begin -->
	<section class="shopping-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="cart-table">
						<table>
							<thead>
								<tr>
									<th>No.</th>
									<th>Product Image</th>
									<th>Product ID</th>
									<th>Product Name</th>
									<th>Product Price</th>
									<th>Quantity</th>
								</tr>
							</thead>
							<tbody>
								<c:set var="i" value="0" />
								<c:forEach var="item" items="${page.content}">
									<tr>
										<td class="p-price text-dark">${i=i+1}</td>
										<td><img
											src="/forUser/img/products/${item.product.image}" alt=""
											width=50% /></td>
										<td>${item.product.id}</td>
										<td>${item.product.name}</td>
										<td>$${item.product.price}</td>
										<td>${item.quantity }</td>
									</tr>
								</c:forEach>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Shopping Cart Section End -->
</body>
</html>