<div class="card ">
	<div class="card-header">
		<h3 class="noibacchu">Blog Edition</h3>
			<i class="fa fa-refresh "  ng-click="reset()"
			style="font-size: 18px; position: absolute; right: 20px; top: 20px">
			<span>Create New</span>
		</i>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="file-upload col-4">
				<div class="image-upload-wrap">
					<input class="file-upload-input" type="file" id="photo"
						onchange="readURL(this); angular.element(this).scope().imageChanged(this.files); angular.element(this).scope().imageChanged(this.files)"
						accept="images/*" />
					<div class="drag-text">
						<img class="img-fluid p-2"
							ng-src="{{form.images ? '/assets/images/' + form.images : '/assets/images/5aa47c07.png' }}"
							alt="your image" id="img" />
						<h5>Drag and drop a file or select add Image</h5>
					</div>
				</div>
				<div class="file-upload-content">
					<img class="file-upload-image img-fluid"
						ng-src="{{'/assets/images/' + form.images}}" alt="your image" />
					<div class="image-title-wrap">
						<button type="button" onclick="removeUpload()"
							class="remove-image">
							Remove <span class="image-title">Uploaded Image</span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Name:</div>
						<input class="form-control" ng-model="form.name" required="" ng-change="validateName(form.name)"/>
						<label style="color: red;">{{message1}}</label>
					</div>
					<div class="form-group col-sm-6">
						<div>Blog Category:</div>
						<select class="form-control"  ng-model="form.blogCategory.id" required="" ng-change="validateCategory(form.blogCategory.id)">
							<option value="" disabled="disabled">Choose Blog Category</option>
							<option ng-repeat="c in cates"  ng-value="c.id">{{c.name}}</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div>Content:</div>
						<textarea ng-model="form.content" name="" id="" cols="40" rows="10" ng-change="validateContent(form.content)"
							style="width: 100%; border: 1px solid #e9ecef;">
					</textarea>
						<label style="color: red;">{{message2}}</label>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer text-muted">
			<div ng-if="isEdit == null" class="row">
			<button ng-if="vName == true && vContent == true && vCategory == true" ng-click="create()" class="btn btn-success offset-3 col-3 mr-2" style="font-weight:bolder">Create</button>
			<button ng-if="vName == false || vContent == false || vCategory == false" disabled="disabled" ng-click="create()" class="btn btn-success offset-3 col-3 mr-2" style="font-weight:bolder">Create</button>
			
			<button ng-click="reset()" class="btn btn-info col-3 ml-2" style="font-weight:bolder">Reset</button>
		</div>
		<div ng-if="isEdit == 'true'"  class="row">
			<button ng-click="update(item)" class="btn btn-warning offset-3 col-3 mr-2" style="font-weight:bolder">Update</button>
			<button class="btn btn-danger col-3 ml-2" style="font-weight:bolder" ng-click="delete(form)">Delete</button>
		</div>
	</div>
</div>