<div class="card">
	<div class="card-header">
		<h3 class="noibacchu">List Blog</h3><i class="fa fa-refresh" ng-click="initialize()" style="font-size:18px; position: absolute; right: 20px; top: 20px"> <span>Refresh</span> </i>
	</div>
	<div class="card-body">
			<div class="row p-2">
			<div class="bg-secondary text-light col px-0 py-1 text-center" ng-show="message">
				<h3 style="font-weight: bolder">{{message}}</h3>
			</div>
		</div>
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th style="width: 14%" scope="col">ID</th>
					<th style="width: 14%" scope="col">Name</th>
					<th style="width: 14%" scope="col">Content</th>
					<th style="width: 14%" scope="col">CreateDate</th>
					<th style="width: 14%" scope="col">Images</th>
					<th style="width: 14%" scope="col">BlogCategory</th>
					<th style="width: 14%; position:relative"><img style="width: 100px;height: 80px;position: absolute;top: -17px;right: 37px"
							src="/assets/images/xenoel1.png" alt="">
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.content}}</td>
					<td style="width: 120px;">{{item.createDate | date:'dd-MM-yyyy'}}</td>
					<td><img ng-src="{{'/assets/images/' + item.images}}" width="100%" /></td>
					<td>{{item.blogCategory.name}}</td>
					<td>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-warning mgr5px" ng-click="edit(item)">Edit</button>
							<button class="btn btn-danger" ng-click="delete(item)">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of {{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
</div>

<!-- No Data Modal -->
<div class="modal fade" id="NoDataModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
      	<img ng-src="{{'/assets/images/nodata_1.png'}}" class="border" alt="" height="300px"/>
      </div>
    </div>
  </div>
</div>