
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}">
<main>
	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a> <span>Blog</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section Begin -->

	<!-- Blog Section Begin -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
					<div class="blog-sidebar">
						<div class="search-form">
							<h4>Search</h4>
							<form action="/blog/list" method="post" class="input-group">
								<input type="text" name="search" placeholder="Search . . .  ">
								<button type="submit">
									<i class="fa fa-search"></i>
								</button>
							</form>
						</div>
						<div class="blog-catagory">
							<h4>Blog Categories</h4>
							<ul th:each="b:${blogcates}">
								<li><a th:href="@{|/blog/list?cid=${b.id}|}">[[${b.name}]]</a></li>
							</ul>
						</div>
						<div class="recent-post">
							<h4>Recent Post</h4>
							<div class="recent-blog">
								<a href="#" class="rb-item">
									<div class="rb-pic">
										<img src="/site/img/blog/recent-1.jpg" alt="">
									</div>
									<div class="rb-text">
										<h6>The Personality Trait That Makes...</h6>
										<p>
											Fashion <span>- May 19, 2019</span>
										</p>
									</div>
								</a> <a href="#" class="rb-item">
									<div class="rb-pic">
										<img src="/site/img/blog/recent-2.jpg" alt="">
									</div>
									<div class="rb-text">
										<h6>The Personality Trait That Makes...</h6>
										<p>
											Fashion <span>- May 19, 2019</span>
										</p>
									</div>
								</a> <a href="#" class="rb-item">
									<div class="rb-pic">
										<img src="/site/img/blog/recent-3.jpg" alt="">
									</div>
									<div class="rb-text">
										<h6>The Personality Trait That Makes...</h6>
										<p>
											Fashion <span>- May 19, 2019</span>
										</p>
									</div>
								</a> <a href="#" class="rb-item">
									<div class="rb-pic">
										<img src="/site/img/blog/recent-4.jpg" alt="">
									</div>
									<div class="rb-text">
										<h6>The Personality Trait That Makes...</h6>
										<p>
											Fashion <span>- May 19, 2019</span>
										</p>
									</div>
								</a>
							</div>
						</div>
						<!--
						<div class="blog-tags">
							<h4>Product Tags</h4>
							<div class="tag-item">
								<a href="#">Towel</a> <a href="#">Shoes</a> <a href="#">Coat</a>
								<a href="#">Dresses</a> <a href="#">Trousers</a> <a href="#">Men's
									hats</a> <a href="#">Backpack</a>
							</div>
						</div>
						-->
					</div>
				</div>
				<div class="col-lg-9 order-1 order-lg-2">
					<div class="product-show-option" style="margin-top: 40px;">
						<div class="row">
							<form action="">
								<div class="col-lg-7 col-md-7">
									<div class="select-option">
										<select class="sorting">
											<option value="">Default By Date</option>
										</select> <select class="p-show" name="size" id="size"
											onchange="this.form.submit()">
											<option th:selected="${blogPage.size == 4} " value="4">Show:
												4</option>
											<option th:selected="${blogPage.size == 6}" value="6">Show:
												6</option>
											<option th:selected="${blogPage.size == 8}" value="8">Show:
												8</option>
											<option th:selected="${blogPage.size == 10}" value="10">Show:
												10</option>
											<option th:selected="${blogPage.size == 9999}"
												value="9999">Show: All</option>
										</select>
									</div>
								</div>
							</form>
							<div class="col-lg-5 col-md-5 text-right">
								<p>Show [[${blogPage.number*size
									+ 1 }]] - [[${blogPage.number*size
									+ blogPage.numberOfElements}]] Of
									[[${blogPage.totalElements}]] Blog</p>
							</div>
						</div>
						</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6" th:each=" blog, iStat : ${blogPage.content}">
							<div class="blog-item">
								<div class="bi-pic"> 
									<a th:href="@{|/home/blog-details/${blog.id}|}">
										<img th:src="@{|/assets/images/${blog.images}|}" alt="#blog">
									</a>
								</div>
								<div class="bi-text">
									<a th:href="@{|/home/blog-details/${blog.id}|}">
										<h4 th:utext="${blog.name}"></h4>
									</a>
									<p>
										[[${blog.BlogCategory.name}]] <span>[[${blog.createDate}]]</span>
									</p>
								</div>
							</div>
						</div>

						
						<div class="col-lg-12">
							<div class="loading-more">
								<nav aria-label="Page navigation"
									th:if="${blogPage.totalPages > 0}">
									<ul class="pagination justify-content-center">
										<li
											th:class="${1 == blogPage.number + 1} ? 'page-item active' : 'page-item'">
											<a
											th:href="@{/blog/list/(name=${name}, size=${blogPage.size}, page=${1}, min=${min}, max=${max}, cid=${cid}, search=${search}, brand=${brand})}"
											class="page-link">First</a>
										</li>
	
										<li class="page-item active"
											th:each="pageNumber : ${pageNumbers}"
											th:if="${blogPage.totalPages > 1}"
											th:class="${pageNumber == blogPage.number + 1} ? 'page-item active' : 'page-item'">
											<a
											th:href="@{/blog/list/(name=${name}, size=${blogPage.size}, page=${pageNumber}, min=${min}, max=${max}, cid=${cid}, search=${search}, brand=${brand})}"
											class="page-link" th:text="${pageNumber}"></a>
										</li>
	
	
										<li
											th:class="${blogPage.totalPages == blogPage.number + 1} ? 'page-item active' : 'page-item'">
											<a
											th:href="@{/blog/list/(name=${name}, size=${blogPage.size}, page=${blogPage.totalPages}, min=${min}, max=${max}, cid=${cid}, search=${search}, brand=${brand})}"
											class="page-link">Last</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Section End -->
</main>