<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<main>
	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a> <span>My
							Profile</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Form Section Begin -->

	<!-- Register Section Begin -->
	<div class="register-login-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="register-form">
						<h2>My Profile</h2>
						<form th:action="@{/accounts/update}" method="post"
							enctype="multipart/form-data">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="row">
										<div class="col-sm-12">
											<div class="row">
												<div class="file-upload col-4">
													<div class="image-upload-wrap">
														<input class="file-upload-input" type="file" name="img"
															id="img" onchange="readURL(this);" accept="image/*" />
														<div class="drag-text">
															<img class="img-fluid p-2"
																th:src="'/assets/images/' + *{items.photo}"
																alt="your image" id="img" />
															<h5>Drag and drop a file or select add Image</h5>
														</div>
													</div>
													<div class="file-upload-content">
														<img class="file-upload-image img-fluid"
															th:src="'/assets/images/' + *{items.photo}"
															alt="your image" id="img" />
														<div class="image-title-wrap">
															<button type="button" onclick="removeUpload()"
																class="remove-image">
																Remove <span class="image-title">Uploaded Image</span>
															</button>
														</div>
													</div>

													<div class="group-input col">
														<input th:field="*{items.password}" type="hidden" readonly
															name="password" class="form-control">
													</div>
												</div>
												<div class="col-8">
													<div class="row">
														<div class="group-input col-sm-6">
															<label>Username *</label> <input 
																th:field="*{items.username}" name="username" id="username" aria-describedby="usernameHid"
																class="form-control" readonly>
															<small	class="form-text text-muted">Username is invalid</small>
														</div>

														<div class="group-input col-sm-6">
															<label>Fullname *</label> <input
																th:field="*{items.fullname}" name="fullname" id="fullname" aria-describedby="fullnameHid" class="form-control">
															<small id="fullnameHid"	class="form-text text-muted">Fullname is invalid</small>
														</div>
													</div>
													<div class="row">
														<div class="group-input col-sm-6">
															<label>Email *</label> <input th:field="*{items.email}"
																type="email" name="email" class="form-control">
															<small	class="form-text text-muted">Email is invalid</small>
														</div>
														<div class="group-input col-sm-6">
															<label>Phone *</label> <input th:field="*{items.phone}"
																name="phone" class="form-control">
															<small	class="form-text text-muted">Phone is invalid</small>
														</div>
													</div>
													<div class="row">
														<div class="group-input col-sm-12">
															<label>Address *</label>
															<textarea rows="3" th:field="*{items.address}"
																name="address" class="form-control"></textarea>
															<small	class="form-text text-muted">Address is invalid</small>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class=" col p-0 m-0">
									<button class="site-btn register-btn">
										<b class="glyphicon glyphicon-refresh"></b>Update Profile
									</button>

									<div class="switch-login">
										<a th:href="@{/home/change-password}" class="or-login">Or
											Change Password</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Register Form Section End -->


</main>

</html>


<!-- <div class="contact-widget">
				<div class="col-10 offset-1 row">
					<form th:action="@{/accounts/update}" method="post"
						enctype="multipart/form-data">
						<div class="col-4">
							<img th:src="'/assets/images/' + *{items.photo}" alt=""
								class=" img-thumbnail" />
						</div>
						<div class="col-8">
							<div class="cw-item">
								<div class="ci-icon">
									<i class="ti-user"></i>
								</div>
								<div class="ci-text">
									<span>Username:</span>
									<p>[[${items.username}]]</p>
								</div>
							</div>
							<div class="cw-item">
								<div class="ci-icon">
									<i class="ti-face-smile"></i>
								</div>
								<div class="ci-text">
									<span>Fullname:</span>
									<p>[[${items.fullname}]]</p>
								</div>
							</div>
							<div class="cw-item">
								<div class="ci-icon">
									<i class="ti-email"></i>
								</div>
								<div class="ci-text">
									<span>Email:</span>
									<p>[[${items.email}]]</p>
								</div>
							</div>
							<div class="cw-item">
								<div class="ci-text col p-0 m-0 pr-4">
									<form action="/home/myorder" method="post">
										<input type="hidden" name="username"
											th:field="*{items.fullname}" onblur="this.form.submit()">
										<button class="btn btn-warning text-light col"
											style="font-size: 20px; font-weight: bolder;">My
											Order</button>
									</form>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div> -->