<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}"
	ng-controller="account-ctrl">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<main>
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a> <span>Register</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="register-login-section spad">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="register-form">
						<h2>Register</h2>
						<form>
							<div class="row col-10 offset-1">
								<div class="file-upload col-4">
									<div class="image-upload-wrap">
										<input class="file-upload-input" type="file" id="photo"
											onchange="readURL(this); angular.element(this).scope().imageChanged(this.files); angular.element(this).scope().imageChanged(this.files)"
											accept="image/*" required="Chưa chọn ảnh"/>
										<div class="drag-text">
											<img class="img-fluid p-2"
												ng-src="{{form.photo ? '/assets/images/' + form.photo : '/assets/images/5aa47c07.png' }}"
												alt="your image" id="img" />
											<h5>Drag and drop a file or select add Image</h5>
										</div>
									</div>
									<div class="file-upload-content">
										<img class="file-upload-image img-fluid"
											ng-src="{{'/assets/images/' + form.photo}}" alt="your image" />
										<div class="image-title-wrap">
											<button type="button" onclick="removeUpload()"
												class="remove-image">
												Remove <span class="image-title">Uploaded Image</span>
											</button>
										</div>
									</div>
								</div>
								<div class="col-8">
									<div class="row">
										<div class="col-6">
											<div class="group-input">
												<label>Username *</label> <input ng-model="form.username" required="" pattern="[a-z,A-Z,0-9]{3,25}" title="Tên đăng nhập phải từ 6-25 ký tự">
											</div>
										</div>
										<div class="col-6">
											<div class="group-input">
												<label>Password *</label> <input type="password"
													ng-model="form.password" required="" pattern="[a-z,A-Z,0-9]{3,25}" title="Mật khẩu phải từ 6-25 ký tự">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<div class="group-input">
												<label>Fullname *</label> <input ng-model="form.fullname" required="" pattern="[a-z,A-Z]{1,50}" title="Tên người dùng không được chứa số và ký tự đặc biệt">
											</div>
										</div>
										<div class="col-6">
											<div class="group-input">
												<label>Email *</label> <input ng-model="form.email"
													type="email" required="" >
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<div class="group-input">
												<label>Phone *</label> <input ng-model="form.phone" required="" pattern="[0-9]{10}" title="Sổ điện thoại phải đầu số là (09|03|07|08|05)+([0-9]{8}) ">
											</div>
										</div>
										<div class="col-6">
											<div class="group-input">
												<label>Address *</label> <input ng-model="form.address"
													type="text" required="" pattern="[a-z,A-Z,0-9]{0,255}" title="Địa chỉ không được chứa ký tự đặc biệt">
											</div>
										</div>
									</div>
								</div>
								<button class="site-btn register-btn" ng-click="create()"
									style="margin-top: 20px;">REGISTER</button>
							</div>
						</form>
						<div class="switch-login">
							<a th:href="@{/security/login/form}" class="or-login">Or
								Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

</html>



<!-- 

<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}"
	ng-controller="account-ctrl">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<main>
	Breadcrumb Section Begin
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a> <span>Register</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	Breadcrumb Form Section Begin

	Register Section Begin
	<div class="register-login-section spad">
		<div class="container">
			<div class="register-form">
				<div class="card ">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<label for=""> <img
									ng-src="{{'/assets/images/' + form.photo}}" class="img-fluid" />
								</label>
								<div class="row">
									<div class="col-6 offset-2">
										<input type="file" id="photo"
											onchange="angular.element(this).scope().imageChanged(this.files)" />
									</div>
								</div>
							</div>
							<div class="col-8">
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Username:</div>
										<input class="form-control" ng-model="form.username" />
									</div>
									<div class="form-group col-sm-6">
										<div>Password:</div>
										<input type="password" class="form-control"
											ng-model="form.password" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Fullname:</div>
										<input class="form-control" ng-model="form.fullname" />
									</div>
									<div class="form-group col-sm-6">
										<div>Email:</div>
										<input type="email" class="form-control" ng-model="form.email" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Phone:</div>
										<input class="form-control" ng-model="form.phone" />
									</div>
									<div class="form-group col-sm-6">
										<div>Activated:</div>
										<label class="radio-inline px-3"> <input
											ng-model="form.activated" ng-value="true" name="activated"
											type="radio" />Yes
										</label> <label class="radio-inline"> <input
											ng-model="form.activated" ng-value="false" name="activated"
											type="radio" />No
										</label>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Create Date:</div>
										<input type="date" class="form-control"
											ng-model="form.createDate" />
									</div>
									<div class="form-group col-sm-6">
										<div>Address:</div>
										<input type="text" class="form-control"
											ng-model="form.address" />
									</div>
								</div>
								<div class="file-upload">
									<div class="image-upload-wrap">
										<input class="file-upload-input" type='file' id="photo"
											onchange="readURL(this); angular.element(this).scope().imageChanged(this.files); angular.element(this).scope().imageChanged(this.files)"
											accept="image/*" />
										<div class="drag-text">
											<h3>Drag and drop a file or select add Image</h3>
										</div>
									</div>
									<div class="file-upload-content">
										<img class="file-upload-image" ng-src="{{'/assets/images/' + form.photo}}" alt="your image" />
										<div class="image-title-wrap">
											<button type="button" onclick="removeUpload()"
												class="remove-image">
												Remove <span class="image-title">Uploaded Image</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer text-muted borbot">
						<button ng-click="create()" class="btn btn-primary">Create</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	Register Form Section End

</main>

</html> -->