<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}"
	ng-controller="account-ctrl">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<main>
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a> <span>Register</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="register-login-section spad">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="register-form">
						<h2>Register</h2>
						<form>
							<div class="row col-10 offset-1">
								<div class="file-upload col-4">
									<div class="image-upload-wrap">
										<input class="file-upload-input" type="file" id="photo"
											onchange="readURL(this); angular.element(this).scope().imageChanged(this.files); angular.element(this).scope().imageChanged(this.files)"
											accept="image/*" required="Chưa chọn ảnh"/>
										<div class="drag-text">
											<img class="img-fluid p-2"
												ng-src="{{form.photo ? '/assets/images/' + form.photo : '/assets/images/5aa47c07.png' }}"
												alt="your image" id="img" />
											<h5>Drag and drop a file or select add Image</h5>
										</div>
									</div>
									<div class="file-upload-content">
										<img class="file-upload-image img-fluid"
											ng-src="{{'/assets/images/' + form.photo}}" alt="your image" />
										<div class="image-title-wrap">
											<button type="button" onclick="removeUpload()"
												class="remove-image">
												Remove <span class="image-title">Uploaded Image</span>
											</button>
										</div>
									</div>
									<div class="text-center pt-2">
										<a class="btn btn-success text-light col"
											style="font-weight: bolder;" ng-click="showWebcam()">Capture
											New Picture</a>
									</div>
								</div>
								<div class="col-8">
									<div class="row">
										<div class="col-6">
											<div class="group-input">
												<label>Username *</label>
												 <input class="form-control" ng-model="form.username" ng-change="validateRegisterUsername(form.username)">
												<label style="color: red; font-size: 13px">{{message1}}</label>
											</div>
										</div>
										<div class="col-6">
											<div class="group-input">
												<label>Password *</label> <input type="password"ng-model="form.password" ng-change="validateRegisterPassword(form.password)" required="">
												<label style="color: red; font-size: 13px">{{message2}}</label>
											
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<div class="group-input">
												<label>Fullname *</label> <input ng-model="form.fullname" ng-change="validateRegisterFullname(form.fullname)">
												<label style="color: red; font-size: 13px">{{message3}}</label>
												
											</div>
										</div>
										<div class="col-6">
											<div class="group-input">
												<label>Email *</label> <input ng-model="form.email" ng-change="validateRegisterEmail(form.email)"
													 required="" >
												<label style="color: red; font-size: 13px">{{message4}}</label>
												
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<div class="group-input">
												<label>Phone *</label> <input ng-model="form.phone" ng-change="validateRegisterPhone(form.phone)">
												<label style="color: red; font-size: 13px">{{message5}}</label>
												
											</div>
										</div>
										<div class="col-6">
											<div class="group-input">
												<label>Address *</label> <input ng-model="form.address" ng-change="validateRegisterAddress(form.address)">
												<label style="color: red; font-size: 13px">{{message6}}</label>
											</div>
										</div>
									</div>
								</div>
								<button ng-if="vUsername == true && vPassword == true && vFullname ==true && vEmail == true && vPhone == true && vAddress == true" class="site-btn register-btn" ng-click="create()"
									style="margin-top: 20px;">REGISTER</button>
								<button ng-if="vUsername == false || vPassword == false|| vFullname ==false || vEmail == false || vPhone == false || vAddress == false" disabled="disabled" class="site-btn register-btn" ng-click="create()"
									style="margin-top: 20px;">REGISTER</button>
							</div>
						</form>
						<div class="switch-login">
							<a th:href="@{/security/login/form}" class="or-login">Or
								Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

</html>



<!-- 

<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}"
	ng-controller="account-ctrl">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<main>
	Breadcrumb Section Begin
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a th:href="@{/home/index}"><i class="fa fa-home"></i> Home</a> <span>Register</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	Breadcrumb Form Section Begin

	Register Section Begin
	<div class="register-login-section spad">
		<div class="container">
			<div class="register-form">
				<div class="card ">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<label for=""> <img
									ng-src="{{'/assets/images/' + form.photo}}" class="img-fluid" />
								</label>
								<div class="row">
									<div class="col-6 offset-2">
										<input type="file" id="photo"
											onchange="angular.element(this).scope().imageChanged(this.files)" />
									</div>
								</div>
							</div>
							<div class="col-8">
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Username:</div>
										<input class="form-control" ng-model="form.username" />
									</div>
									<div class="form-group col-sm-6">
										<div>Password:</div>
										<input type="password" class="form-control"
											ng-model="form.password" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Fullname:</div>
										<input class="form-control" ng-model="form.fullname" />
									</div>
									<div class="form-group col-sm-6">
										<div>Email:</div>
										<input type="email" class="form-control" ng-model="form.email" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Phone:</div>
										<input class="form-control" ng-model="form.phone" />
									</div>
									<div class="form-group col-sm-6">
										<div>Activated:</div>
										<label class="radio-inline px-3"> <input
											ng-model="form.activated" ng-value="true" name="activated"
											type="radio" />Yes
										</label> <label class="radio-inline"> <input
											ng-model="form.activated" ng-value="false" name="activated"
											type="radio" />No
										</label>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<div>Create Date:</div>
										<input type="date" class="form-control"
											ng-model="form.createDate" />
									</div>
									<div class="form-group col-sm-6">
										<div>Address:</div>
										<input type="text" class="form-control"
											ng-model="form.address" />
									</div>
								</div>
								<div class="file-upload">
									<div class="image-upload-wrap">
										<input class="file-upload-input" type='file' id="photo"
											onchange="readURL(this); angular.element(this).scope().imageChanged(this.files); angular.element(this).scope().imageChanged(this.files)"
											accept="image/*" />
										<div class="drag-text">
											<h3>Drag and drop a file or select add Image</h3>
										</div>
									</div>
									<div class="file-upload-content">
										<img class="file-upload-image" ng-src="{{'/assets/images/' + form.photo}}" alt="your image" />
										<div class="image-title-wrap">
											<button type="button" onclick="removeUpload()"
												class="remove-image">
												Remove <span class="image-title">Uploaded Image</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer text-muted borbot">
						<button ng-click="create()" class="btn btn-primary">Create</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	Register Form Section End

</main>

</html> -->