<div class="card">
	<div class="card-header">
		<h3 class="noibacchu">List Account</h3>
		<i class="fa fa-refresh " ng-click="initialize()"
			style="font-size: 18px; position: absolute; right: 20px; top: 20px">
			<span>Show All</span>
		</i>
		<div class="row pt-3">
			<div class="col-2">
				<button class="btn btn-outline-warning"
					style="width: 100%; font-weight: bolder"
					ng-click="GoldenCustomer()">Rank Customer</button>
			</div>
			<div class="col-2">
				<button class="btn btn-outline-primary"
					style="width: 100%; font-weight: bolder" ng-click="LoyalCustomer()">Loyal
					Customer</button>
			</div>
			<div class="offset-6 col-2">
				<button class="btn btn-info"
					style="width: 100%; font-weight: bolder" ng-click="findbyDate()">Find
					by Date</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		<!-- <div class="row p-2">
			<div class="alert-success col px-0 text-center" ng-show="countDate">
				<h5>
					Have <span class="text-success"
						style="font-weight: bolder; font-size: 20px">{{countDate}}</span>
					Registered Account From {{from| date:'dd/MM/yyyy'}} To {{to |
					date:'dd/MM/yyyy'}}
				</h5>
			</div>
		</div> -->
		<div class="row p-2">
			<div class="bg-secondary text-light col px-0 py-1 text-center" ng-show="message">
				<h3 style="font-weight: bolder">{{message}}</h3>
			</div>
			<div class="bg-secondary text-light col px-0 py-1 text-center" ng-show="to">
				<h3 style="font-weight: bolder">Have {{countDate}} {{countDate > 1 ? 'Account' : 'Accounts'}} Created: {{from| date:'MM/dd/yyyy'}} - {{to| date:'MM/dd/yyyy'}}</h3>
			</div>
		</div>
		<table class="table table-striped text-center">
			<thead>
				<tr style="position: relative;">
					<th style="width: 15%" scope="col">Photo</th>
					<th style="width: 15%" scope="col">Username <br />(View Order)</th>
					<th style="width: 20%" scope="col">Fullname</th>
					<th style="width: 10%" scope="col">Phone</th>
					<th style="width: 15%" scope="col">Email</th>
					<th style="width: 15%" scope="col">Address</th>
					<th style="width: 10%" scope="col">Createdate</th>
					<th style="width: 20%"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in filtered = (pager.items | filter: query)">
					<td><img ng-src="{{item.photo ? '/assets/images/' + item.photo  : '/assets/images/5aa47c07.png'}}"
						width="50%" /></td>
					<td ng-click="detailOrder(item)"><a href="" class="btn btn-outline-primary">{{item.username}}</a></td>
					<td>{{item.fullname}}</td>
					<td>{{item.phone}}</td>
					<td>{{item.email}}</td>
					<td>{{item.address}}</td>
					<td>{{item.createDate | date:'MM/dd/yyyy'}}</td>
					<td>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-warning mgr5px" ng-click="edit(item)">Edit</button>
							<button class="btn btn-danger" ng-click="delete(item)">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of
			{{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
</div>

<div class="modal fade" id="AccountMuaNhieuNhatModalCenter"
	tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 60%">
		<div class="modal-content">
			<div class="modal-header bg-success text-light py-1">
				<div class="col row">
					<h5>{{title}}</h5>
					<a type="button" class="close text-light pt-4 pr-0"  data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</a>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th style="width: 15%" scope="col">Photo</th>
							<th style="width: 15%" scope="col">Username</th>
							<th style="width: 15%" scope="col">Fullname</th>
							<th style="width: 15%" scope="col">Phone</th>
							<th style="width: 20%" scope="col">Quantity Orders</th>
							<th style="width: 20%" scope="col">Rank Customer <br />
								(View Detail)
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager1.countOrders">
							<td><img ng-src="{{item.account.photo ? '/assets/images/' + item.account.photo  : '/assets/images/5aa47c07.png'}}"
								width="50%" /></td>
							<td>{{item.account.username}}</td>
							<td>{{item.account.fullname}}</td>
							<td>{{item.account.phone}}</td>
							<td>{{item.count}} {{item.count>1 ? 'Orders' : 'Order'}}</td>
							<td ng-show="item.count >= 7"><button
									ng-click="detailOrder(item.account)"
									class="btn btn-outline-warning"
									style="font-weight: bolder; font-size: 16px">Golden</button></td>
							<td ng-show="item.count >= 5 && item.count < 7"><button
									ng-click="detailOrder(item.account)"
									class="btn btn-outline-info"
									style="font-weight: bolder; font-size: 16px">Silver</button></td>
						</tr>
					</tbody>
				</table>
				<div class="text-muted text-center float-center">
					<button class="btn btn-primary" ng-click="pager1.first()">First</button>
					<button class="btn btn-primary" ng-click="pager1.prev()">Prev</button>
					<button class="btn btn-success">{{pager1.page+1}} of
						{{pager1.count}}</button>
					<button class="btn btn-primary" ng-click="pager1.next()">Next</button>
					<button class="btn btn-primary" ng-click="pager1.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Find By Date -->
<div class="modal fade" id="AccountDuocTaoModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="false">
	<div class="modal-dialog " role="document" style="max-width: 15%">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Find
					Account By Date</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					From:<input type="date" placeholder="dd-mm-yyyy" class="form-control"
						ng-model="duoctao.from" ng-change="validateFrom(duoctao.from)" />
				</div>
				<div class="form-group">
					To:<input type="date" placeholder="dd-mm-yyyy" class="form-control"
						ng-model="duoctao.to"  ng-change="validateTo(duoctao.to)"/>
				</div>
				<button ng-if="vForm == true && vTo == true && setTo > setFrom" ng-click="duoctao()" class="btn btn-primary float-right">Search</button>
				<button ng-if="vForm == false || vTo == false" disabled="disabled" ng-click="duoctao()" class="btn btn-primary float-right">Search</button>
				<button ng-if="setTo < setFrom && vForm == true && vTo == true" disabled="disabled" ng-click="duoctao()" class="btn btn-primary float-right">Search</button>		
			</div>
		</div>
	</div>
</div>

<!--My Order-->
<div class="modal fade" id="MyOrderModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 70%">
		<div class="modal-content">
			<div class="modal-header bg-success text-light py-1">
				<div class="col row">
					<h5>Order of Account: <span
							style="text-transform: uppercase; font-weight: bolder">{{account.username}}</span></h5>
					<h5 class="px-5">Sum of Product: <span
							style="text-transform: uppercase; font-weight: bolder">{{totalPro}} {{totalPro >1 ? 'Items' : 'Item'}}</span></h5>
					<h5>Sum of Bill: <span
							style="text-transform: uppercase; font-weight: bolder">${{totalBill|number:1}}</span></h5>
					<a type="button" class="close text-light pt-4 pr-0"  data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</a>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr style="position: relative;">
							<th style="width: 10%" scope="col">ID <br />(View Detail)
							</th>
							<th style="width: 20%" scope="col">Receiver Name</th>
							<th style="width: 15%" scope="col">Receiver Phone</th>
							<th style="width: 20%" scope="col">Receiver Address</th>
							<th style="width: 10%" scope="col">Create Date</th>
							<th style="width: 15%" scope="col">Quantity Product</th>
							<th style="width: 10%" scope="col">Total Bill</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager2.myorders">
							<td><a ng-click="viewOrderDetail(item)"
								class="btn btn-outline-secondary">{{item.id}}</a></td>
							<td>{{item.fullname}}</td>
							<td>{{item.phone}}</td>
							<td>{{item.address}}</td>
							<td>{{item.createDate}}</td>
							<td>{{item.quantity}} {{item.quantity>1 ?'Items':'Item'}}</td>
							<td>${{item.total|number:1}}</td>
						</tr>
					</tbody>
				</table>
				<div class="text-muted text-center">
					<button class="btn btn-primary" ng-click="pager2.first()">First</button>
					<button class="btn btn-primary" ng-click="pager2.prev()">Prev</button>
					<button class="btn btn-success">{{pager2.page+1}} of
						{{pager2.count}}</button>
					<button class="btn btn-primary" ng-click="pager2.next()">Next</button>
					<button class="btn btn-primary" ng-click="pager2.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--My Order Detail-->
<div class="modal fade" id="MyOrderDetailModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document"
		style="max-width: 50%">
		<div class="modal-content">
			<div class="modal-header bg-success text-light py-1">
				<div class="col row">
					<h5>Order ID: <span
							style="text-transform: uppercase; font-weight: bolder">{{order.id}}</span></h5>
					<h5 class="px-5">Quantity: <span
							style="text-transform: uppercase; font-weight: bolder">{{order.quantity}} {{order.quantity >1 ? 'Items' : 'Item'}}</span></h5>
					<h5>Order Bill: <span
							style="text-transform: uppercase; font-weight: bolder">${{order.total|number:1}}</span></h5>
					<a type="button" class="close text-light pt-4 pr-0"  data-dismiss="modal" ng-click="closeOrderDetail()"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</a>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th scope="col">Image</th>
							<th scope="col">SKU</th>
							<th scope="col">Product Name</th>
							<th scope="col">Color - Size</th>
							<th scope="col">Price</th>
							<th scope="col">Quantity</th>
							<th scope="col">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager3.ODitems">
							<td width="150px"><img
								ng-src="{{item.productDetail ? '/assets/images/' + item.productDetail.image : '/assets/images/5aa47c07.png'}}"
								width="100%" /></td>
							<td>{{item.productDetail.product.id}}</td>
							<td>{{item.productDetail.product.name}}</td>
							<td>{{item.productDetail.color.name}} -
								{{item.productDetail.size.name}}</td>
							<td>${{item.productDetail.product.price*(1-item.productDetail.product.discount*0.01)|number:1}}
							</td>
							<td>{{item.quantity}} {{item.quantity>1 ? 'Items':'Item'}}</td>
							<td>${{item.quantity*item.productDetail.product.price*(1-item.productDetail.product.discount*0.01)|number:1}}
							</td>
						</tr>
					</tbody>
				</table>
				<div class="text-muted text-center">
					<button class="btn btn-primary" ng-click="pager3.first()">First</button>
					<button class="btn btn-primary" ng-click="pager3.prev()">Prev</button>
					<button class="btn btn-success">{{pager3.page2+1}} of
						{{pager3.count}}</button>
					<button class="btn btn-primary" ng-click="pager3.next()">Next</button>
					<button class="btn btn-primary" ng-click="pager3.last()">Last</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- No Data Modal -->
<div class="modal fade" id="NoDataModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
      	<img ng-src="{{'/assets/images/nodata_1.png'}}" class="border" alt="" height="300px"/>
      </div>
    </div>
  </div>
</div>