<div class="card">
	<div class="card-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Photo</th>
					<th scope="col">Username</th>
					<th scope="col">Fullname</th>
					<th scope="col">Email</th>
					<th><img src="/assets/images/xenoel1.png" alt=""></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<td width="100px">
						<img ng-src="{{'/assets/images/' + item.photo}}" width="100%"/>
					</td>
					<td>{{item.username}}</td>
					<td>{{item.fullname}}</td>
					<td>{{item.email}}</td>
					<td>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-warning mgr5px" ng-click="edit(item)">Edit</button>
							<button class="btn btn-danger" ng-click="delete(item)">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">
		<button class="btn btn-primary" ng-click="pager.first()">First</button>
		<button class="btn btn-primary" ng-click="pager.prev()">Prev</button>
		<button class="btn btn-success">{{pager.page+1}} of {{pager.count}}</button>
		<button class="btn btn-primary" ng-click="pager.next()">Next</button>
		<button class="btn btn-primary" ng-click="pager.last()">Last</button>
	</div>
</div>